.columnNomnbreU {
    min-width: 200px !important;
}

.columnFechaRet {
    min-width: 200px !important;
}

.columnMotivo {
    min-width: 200px !important;
}

.columnDesResp {
    min-width: 300px !important;
}