.historial-container {
    display: flex;
    gap: 20px;
}

.scrollTablaHistorial {
    max-height: 500px;
    overflow-y: scroll;
}

.fechas {
    display: flex;
    column-gap: 8px;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
}
.scrollTablaHistorial {
    max-height: 500px;
    overflow-y: scroll;
}
.encabezadoTablas {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}
.table th {
    font-weight: bold;
}
.table tbody tr,
.table tfoot tr {
    height: 45px !important;
}
.table td {
    vertical-align: middle;
    padding: 1px 5px 0;
    white-space: nowrap;
}
.operacionFija {
    position: sticky !important;
    right: 0;
    background: #fff;
    z-index: 1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    min-width: 30px;
}
.pagare {
    display: flex;
    column-gap: 12px;
    > div {
        padding: 0;
    }
}


.table-header {
    white-space: nowrap;
    text-align: center;
}
.table-header-medium {
    min-width: 150px;
}

.celda-fija-izquierda {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 1;
}
.celda-fija-arriba {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}
.encabezado-fijo {
    thead th {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
    }
}
th.celda-fija-izquierda {
    z-index: 3;
}
.tr-selected {
    background-color: rgb(229, 229, 229);
    .celda-fija {
        background-color: rgb(229, 229, 229);
    }
    .celda-fija-izquierda {
        position: sticky;
        left: 0;
        background-color: rgb(229, 229, 229);
        z-index: 1;
    }
}

.tr-selected:hover {
    background-color: rgb(229, 229, 229);
}

.fechas {
    display: flex;
    column-gap: 8px;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
}
.historial-table-wrapper {
    width: 65%;
    flex: 1;

}
@media (max-width: 1250px) {
    .historial-container {
        flex-wrap: wrap;
    }
}
@media (min-width: 1500px) {
    .historial-table-wrapper {
        max-width: initial;
    }
    .fechas {
        column-gap: 30px;

    }
}
.total-tfoot {
    tr:first-child {
        background-color: rgb(178 178 178 / 40%);
    }
    td {
        border-top: 2px solid #000;
        font-weight: bold;
    }
}