<div class="historial-container">
    <!-- Fechas -->
    <div class="fechas">
        <div>
            <div class="form-group">
                <label class="textNegrilla">Fecha creación:</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="textNegrilla">Fecha vencimiento:</label>
                <input type="text" class="form-control">
            </div>
        </div>
    </div>

    <!-- Historial -->
    <!-- <div class="col-xs-12 col-md-9 col-lg-9">
                            <br>
                            <div class="alert alert-secondary" role="alert">
                                No hay registros
                            </div>
                        </div> -->

    <div class="historial-table-wrapper">
        <div class="table-responsive scrollTabla panel panel-default">

            <table class="table table-hover scrollTablaHistorial">
                <thead>
                    <tr>
                        <th class="celda-fija-arriba">
                            <strong>Fecha</strong>
                        </th>
                        <th class="celda-fija-arriba">
                            <strong>Oficina</strong>
                        </th>
                        <th class="celda-fija-arriba">
                            <strong>Usuario responsable</strong>
                        </th>
                        <th class="celda-fija-izquierda celda-fija-arriba">
                            <strong>Operación</strong>
                        </th>
                        <th class="celda-fija-arriba">
                            <strong>Detalles</strong>
                        </th>
                        <th class="operacionFija celda-fija-arriba">
                            <strong>Opciones</strong>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2026/08/20 10:16:04</td>
                        <td>Cali Centro</td>
                        <td>Alvarez Suarez Luis Felipe</td>
                        <td class="celda-fija-izquierda">Cambiar
                            codeudores</td>
                        <td><strong>Anterior:</strong> 32791639 Giraldo
                            Leiva Angela Maria | <strong>Actualiza:</strong> 32791639 Giraldo Leiva
                            Angela Maria - 43644453 Zora Gomez Thatiana Nayibis</td>
                        <td class="operacionFija"></td>
                    </tr>
                    <tr>
                        <td>2026/08/20 10:18:20</td>
                        <td>Cali Centro</td>
                        <td>Alvarez Suarez Luis Felipe</td>
                        <td class="celda-fija-izquierda">Cambiar
                            codeudores</td>
                        <td><strong>Anterior:</strong> 43644453 Zora
                            Gomez Thatiana Nayibis - 32791639 Giraldo Leiva Angela Maria |
                            <strong>Actualiza:</strong> 32791639 Giraldo Leiva Angela Maria
                        </td>
                        <td class="operacionFija"></td>
                    </tr>
                    <tr>
                        <td>2017/09/22 15:29:46</td>
                        <td></td>
                        <td>Aristizabal Hoyos Maria Norbeli</td>
                        <td class="celda-fija-izquierda">Cambio de
                            Plazo</td>
                        <td></td>
                        <td class="operacionFija"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Fin Historial -->
</div>