<div class="panel">
    <form class="panel-body pl-40" [formGroup]="formEncabezado">
        <div class="row">
            <div class="col-lg-6">
                <div class="row fill"></div>
                <div class="row">
                    <div class="col-xs-2">
                        <label class="textNegrilla">Operación:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-8">
                        <select class="form-control" id="select">
                            <option value=""></option>
                            <option value="">Nueva asesoria</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row">

                    <div class="col-xs-2">
                        <label for="buscar" class="textNegrilla txtNoWrap">Buscar por:</label>
                    </div>

                    <div class="col-xs-10">
                        <div class="form-check-group" (click)="onClickPonerFoco()">
                            <label class="radio-custom">
                                <input type="radio" class="radioB" formControlName="criterioBusqueda" [value]="1">
                                <span>Asesoria</span>
                            </label>

                            <label class="radio-custom">
                                <input type="radio" class="radioB" formControlName="criterioBusqueda" [value]="3">
                                <span>Documento</span>
                            </label>

                            <label class="radio-custom">
                                <input type="radio" class="radioB" formControlName="criterioBusqueda" [value]="4">
                                <span>Nombre</span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-xs-10">
                        @if (formEncabezado.controls.criterioBusqueda.value === 1) {
                        <input type="text" class="form-control" formControlName="busqueda" #inputBusqueda appSoloNumero>
                        } @else {
                        <input type="text" class="form-control" formControlName="busqueda" #inputBusqueda>
                        }

                    </div>
                    <button type="button" class="btn Gt-btn-verde btn-icon" (click)="onClickBuscarAsesosrias()">
                        <i class="icon-search4"></i>
                    </button>

                    <!--/ Modal BuscarAsesorias -->
                    <div id="modalBuscarAsesorias" class="modal fade" data-backdrop="static">
                        <div class="modal-dialog">
                            <div class="modal-content modal-lg">
                                <div class="modal-header bg-morado">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h6 class="modal-title">Asesorias</h6>
                                </div>
                                <div class="modal-body">
                                    <app-tabla-virtual [datos]="datosTransformados"
                                        [columnas]="encabezadosTablaBuscarAsesorias" [formatear]="formatearValor"
                                        (filaSeleccionada)="onClickFila($event)" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn Gt-btn-morado" data-dismiss="modal"
                                        #cerrarModal>Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" #modalBuscarAsesorias data-toggle="modal" data-target="#modalBuscarAsesorias"
                        data-popup="tooltip" data-trigger="hover" data-placement="top">
                    <!--/ Fin Modal BuscarAsesorias -->

                </div>

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="" class="textNegrilla">Oficina asociado:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-2">
                        <input type="text" class="form-control" formControlName="idOficinaAsociado">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" formControlName="nombreOficinaAsociado">
                    </div>
                </div>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-2 col-lg-3">
                        <label for="" class="textNegrilla">Estado:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-8 col-lg-9">
                        <input type="text" class="form-control" formControlName="estado">
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-xs-2">
                        <label for="" class="textNegrilla">Asesoria:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" formControlName="asesoria">
                    </div>
                </div>
            </div>

            <div class="col-lg-1"></div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-2 col-lg-3">
                        <label for="" class="textNegrilla">Relación:</label>
                    </div>

                    <div class="col-xs-8 col-lg-9">
                        <input type="text" class="form-control" formControlName="relacion">
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row row-margin">
            <div class="col-lg-7">
                <div class="row">

                    <div class="col-xs-2 col-lg-1-7">
                        <label for="" class="textNegrilla">Nombre:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-1 pr-0">
                        <input type="text" class="form-control" formControlName="tipoDocumento">
                    </div>
                    <div class="col-xs-3 pr-0">
                        <input type="text" class="form-control" formControlName="numeroDocumento">
                    </div>
                    <div class="col-xs-4 col-lg-4-7">
                        <input type="text" class="form-control" formControlName="nombreAsociado">
                    </div>

                    <div class="col-lg-1">
                        <button type="button" class="btn Gt-btn-verde btn-icon" [disabled]="nombreBtnFlag">
                            <i class="icon-search4"></i>
                        </button>
                    </div>

                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-xs-2 col-lg-3">
                        <label for="" class="textNegrilla">Oficina:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-2 col-lg-3">
                        <input type="text" class="form-control" formControlName="idOficina">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" formControlName="nombreOficina">
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-button">
            @if(formEncabezado.controls.asesoria.value) {
            <button type="button" class="btn Gt-btn-morado btn-icon legitRipple align-right-block"> Limpiar </button>
            }

        </div>
    </form>
</div>

<!-- TABS -->
<div class="panel">
    <div class="panel-body pl-40 pt-0">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="nav-item" [class.active]="activeTab === 'negociacion'" (click)="changeTab('negociacion')">
                    <a>Negociación</a>
                </li>

                <li class="nav-item" [class.active]="activeTab === 'deducibles'" (click)="changeTab('deducibles')">
                    <a>Deducibles</a>
                </li>

                <li class="nav-item" [class.active]="activeTab === 'saldosVigentes'"
                    (click)="changeTab('saldosVigentes')">
                    <a>Saldos vigentes</a>
                </li>

                <!-- <li class="nav-item" [class.active]="activeTab === 'historial'" (click)="changeTab('historial')">
                    <a>Historial</a>
                </li> -->

                <li class="nav-item" [class.active]="activeTab === 'analisis'"
                    (click)="onClickTabAnalisis()">
                    <a>Análisis</a>
                </li>
            </ul>
            <div class="tab-content">
            
                <app-tab-negociacion [hidden]="activeTab !== 'negociacion'" [idAsesoria]="formEncabezado.controls.asesoria.value"
                    [deducciones]="totalCuotaDed" [saldoCancelar]="totalSaldoTotal" />
            
            
                <article [hidden]="activeTab !== 'deducibles'">
                    @if(deducibles.length === 0) {
                    <div class="alert alert-secondary" role="alert">
                        No hay registros
                    </div>
                    } @else {
                    <div class="table-responsive scrollTabla scroll-y-auto">
                        <table class="table table-hover horizontal-scroll encabezado-fijo">
                            <thead>
                                <tr>
                                    <th class="table-header text-center textNegrilla">Código</th>
                                    <th class="table-header text-center textNegrilla">Nombre</th>
                                    <th class="table-header text-center textNegrilla">Saldo</th>
                                    <th class="table-header text-center textNegrilla">Valor cuota</th>
                                    <th class="table-header text-center textNegrilla">Plazo</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @for (ded of deducibles; track ded.codigo) {
                                <tr [class.tr-selected]="ded.codigo === selectedRowDed" (click)="selectedRowDed = ded.codigo">
                                    <td class="text-center">{{ ded.codigo }}</td>
                                    <td>{{ ded.nombre }}</td>
                                    <td>
                                        <div class="align-right">{{ ded.valor | currency }}</div>
                                    </td>
                                    <td>
                                        <div class="align-right">{{ ded.cuota | currency }}</div>
                                    </td>
                                    <td class="text-center">{{ ded.plazo }} </td>
                                    
                                </tr>
                                }
            
                            </tbody>
                            <tfoot class="total-tfoot">
                                <tr class="total-bg">
                                    <td colspan="2" class="text-center"><strong>Total</strong></td>
                                    <td class="">
                                        <div class="align-right">{{ totalSaldoDed | currency }}</div>
                                    </td>
                                    <td class="">
                                        <div class="align-right">{{ totalCuotaDed | currency }}</div>
                                    </td>
                                    <td class="text-center">—</td>
                                    <!-- <td class=""><div class="align-right">{{ deducibles[0].valor | currency }}</div></td> -->
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    }
            
                </article>
            
                <article [hidden]="activeTab !== 'saldosVigentes'">
                    @if(saldosVigentes.length === 0) {
                    <div class="alert alert-secondary" role="alert">
                        No hay registros
                    </div>
                    } @else {
                    <div class="table-responsive scrollTabla scroll-y-auto">
                        <table class="table table-hover horizontal-scroll encabezado-fijo">
                            <thead>
                                <tr>
                                    <th class="table-header text-center textNegrilla">Cuenta</th>
                                    <th class="table-header text-center textNegrilla">Saldo préstamo</th>
                                    <th class="table-header text-center textNegrilla">Interés corriente</th>
                                    <th class="table-header text-center textNegrilla">Interés de mora</th>
                                    <th class="table-header text-center textNegrilla">Abono en canje</th>
                                    <th class="table-header text-center textNegrilla">Saldo total</th>
                                    <th class="table-header text-center textNegrilla">Radicado</th>
                                    <th class="table-header text-center textNegrilla">Valor cuota</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (sald of saldosVigentes; track sald.lngConsecutivo) {
                                <tr [class.tr-selected]="sald.lngConsecutivo === selectedRowSaldosVig" (click)="selectedRowSaldosVig = sald.lngConsecutivo">
                                    <td><div class="align-right">{{ sald.lngIdCuenta }}</div></td>
                                    <td><div class="align-right">{{ sald.curEfectivo | currency }}</div></td>
                                    <td><div class="align-right">{{ sald.curIntVencidos | currency }}</div></td>
                                    <td><div class="align-right">{{ sald.curIntMora | currency }}</div></td>
                                    <td><div class="align-right">{{ sald.curCanje | currency }}</div></td>
                                    <td><div class="align-right">{{ sald.saldoTotalDeuda | currency }}</div></td>
                                    <td><div class="align-right">{{ sald.lngRadicado }}</div></td>
                                    <td><div class="align-right">{{ sald.curCuota | currency }}</div></td>
                                </tr>
                                }
            
                            </tbody>
                            <tfoot class="total-tfoot">
                                <tr class="total-bg">
                                    <td class="text-center"><strong>Total</strong></td>
                                    <td class=""><div class="align-right">{{ totalSaldoPrestamo | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalInteresCorriente | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalInteresMora | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalAbonoCanje | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalSaldoTotal | currency }}</div></td>
                                    <td class="text-center">—</td>
                                    <td class=""><div class="align-right">{{ totalCuotaSaldosVig | currency }}</div></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    }
            
                </article>

                <article [hidden]="activeTab !== 'analisis'">
                    @if(analisisCalificaciones.length === 0) {
                    <div class="alert alert-secondary" role="alert">
                        No hay registros
                    </div>
                    } @else {
                    <div class="table-responsive scrollTabla scroll-y-auto mx-350">
                        <table class="table table-hover horizontal-scroll encabezado-fijo">
                            <thead>
                                <tr>
                                    <th class="table-header text-center textNegrilla th-fijo">Cuenta</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Monto</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Cuota</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Plazo</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Estado</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Fecha apertura</th>
                                    <th class="table-header text-center textNegrilla th-fijo">Fecha cancelado</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (cal of analisisCalificaciones; track cal.lngIdCuenta) {
                                <tr (click)="onClickFilaAnalisis(cal.lngIdCuenta)" [class.tr-selected]="cal.lngIdCuenta === selectedRowAnalisis" class="cursor-p">
                                    <td class="text-center">{{ cal.strCuenta }}</td>
                                    <td><div class="align-right">{{ cal.curEfectivo | currency }}</div></td>
                                    <td><div class="align-right">{{ cal.curCuota | currency }}</div></td>
                                    <td class="">{{ cal.Periodo }}</td>
                                    <td class="">{{ cal.Estado }}</td>
                                    <td class="text-center">{{ cal.dtmMatricula }}</td>
                                    <td class="text-center">{{ cal.dtmCancela }}</td>
                                </tr>
                                }
            
                            </tbody>
                            <!-- <tfoot class="total-tfoot">
                                <tr class="total-bg">
                                    <td class="text-center"><strong>Total</strong></td>
                                    <td class=""><div class="align-right">{{ totalSaldoPrestamo | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalInteresCorriente | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalInteresMora | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalAbonoCanje | currency }}</div></td>
                                    <td class=""><div class="align-right">{{ totalSaldoTotal | currency }}</div></td>
                                    <td class="text-center">—</td>
                                    <td class=""><div class="align-right">{{ totalCuotaSaldosVig | currency }}</div></td>
                                </tr>
                            </tfoot> -->
                        </table>
                    </div>
                    }
            
                    <div class="borde-morado"></div>

                    @if(calificacionesPorMes == null) {
                    <div class="alert alert-secondary" role="alert">
                        No hay registros
                    </div>
                    } @else {
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="textNegrilla">Calificación del crédito</div>
                            <div class="table-responsive scrollTabla scroll-y-auto mx-350 border-tabla">
                                <table class="table table-hover horizontal-scroll encabezado-fijo">
                                    <thead>
                                        <tr>
                                            @for (mes of meses; track mes) {
                                            <th class="table-header text-center textNegrilla th-fijo">{{ mes }}</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @for (mes of meses; track mes) {
                                            <td class="text-center">{{ calificacionesPorMes[mes] }}</td>
                                            }
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="textNegrilla">Análisis</div>
                            <div class="table-responsive scrollTabla scroll-y-auto border-tabla">
                                <table class="table table-hover horizontal-scroll encabezado-fijo">
                                    <thead>
                    
                                        <tr>
                                            <th class="table-header text-center textNegrilla">Calificación</th>
                                            <th class="table-header text-center textNegrilla">Nro. veces</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center">{{ calificaconAnual?.strCumplimiento }}</td>
                                            <td class="text-center">{{ calificaconAnual?.NroVeces }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    }

                </article>
            
            
                <!-- <app-tabla-historial [hidden]="activeTab !== 'historial'" /> -->
            
            </div>
        </div>
    </div>
</div>