@import '../styles/shared.css';


.tab-title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    background-color: rgb(198 198 198 / 40%);
    margin-top: 0;
}
.fw-bold {
    font-weight: bold;
}
.capitalize{
    text-transform: capitalize;
}
.garantias-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.fill { 
    height: 29.51px;
}

.row-button {
    margin-top: 6rem;
    padding-right: 94px;
}

.align-right-block {
    display: block;
    margin-left: auto;
}

.total-tfoot {
    tr:first-child {
        background-color: rgb(178 178 178 / 40%);
    }

    td {
        border-top: 2px solid #000;
        font-weight: bold;
    }
}

.mx-350 {
    max-height: 350px;
}

.border-tabla {
    border: 1px solid #ddd;;
}

.tr-selected {
    background-color: rgb(229, 229, 229);
}

.tr-selected:hover {
    background-color: rgb(229, 229, 229);
}

.cursor-p {
    cursor: pointer;
}

