<div class="panel panel-white">
    <div class="panel-heading doNotPrint">
        <h6 class="panel-title">Búsqueda</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-toggle="modal" data-target="#ModalAyuda">
                        <i class="icon-question6 " title="Ayuda" data-popup="tooltip" data-trigger="hover"
                            data-placement="top"></i>
                    </a>
                </li>
                <li>
                    <a data-action="collapse"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body doNotPrint">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="form-group">
                        <label><strong>Número Transacción:</strong></label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="form-group">
                        <label><strong>Libro:</strong></label>

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="form-group">
                        <label><strong>Cuenta:</strong></label>

                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <input type="text" class="form-control">
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1">
                    <br>
                    <button type="button" class="btn Gt-btn-verde btn-icon btn-buscar" (click)="generarImpresion1()">
                        <i class="glyphicon glyphicon-search"></i> 
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-white">
    <div class="panel-heading pad5">
        <div class="pdf-container">
            <iframe id="ImpresionTransaccion" width="100%" height="700px" style="border: none;">
            </iframe>
        </div>
    </div>
</div>