<div>
    <form method="get" [formGroup]="representanteFrom">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12" id="1">
                    <div class="col-md-3">
                        <div class="form-group" id="1">
                            <label class="textBlod">Número documento: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input type="text" class="form-control" formControlName="NumeroDocumento" [attr.disabled]="bloquearForm" maxlength="15" (blur)="GetRepresentante()" (keypress)="limpiarFormularioKey()">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['NumeroDocumento'].errors?.['required'] && (representanteFrom.controls['NumeroDocumento'].dirty || representanteFrom.controls['NumeroDocumento'].touched)">
              El número documento es obligatorio.
            </span>
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['NumeroDocumento'].errors?.['pattern'] && (representanteFrom.controls['NumeroDocumento'].dirty || representanteFrom.controls['NumeroDocumento'].touched)">
              El número documento solo acepta números, minimo 4 - maximo 15 caracteres.
            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="1">
                            <label class="textBlod">Tipo documento: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <select class="form-control" name="select" formControlName="TipoDocumento" [attr.disabled]="bloquearFormRep">
              <option value="0">-- Seleccione --</option>
              <option *ngFor="let tipoDocumento of dataTipoDocumento" [ngValue]="tipoDocumento">
                {{tipoDocumento.Descripcion}}
              </option>
            </select>
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['TipoDocumento'].errors?.['required'] && (representanteFrom.controls['TipoDocumento'].dirty || representanteFrom.controls['TipoDocumento'].touched)">
              El tipo documento es obligatorio.
            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="1">
                            <label class="textBlod">Primer nombre: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input type="text" class="form-control" formControlName="PrimerNombre" id="PrimerNom" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['PrimerNombre'].errors?.['required'] && (representanteFrom.controls['PrimerNombre'].dirty || representanteFrom.controls['PrimerNombre'].touched)">
              El primer nombre es obligatorio.
            </span>
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['PrimerNombre'].errors?.['pattern'] && (representanteFrom.controls['PrimerNombre'].dirty || representanteFrom.controls['PrimerNombre'].touched)">
              El primer nombre solo acepta letras. </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="1">
                            <label class="textBlod">Segundo nombre: </label>
                            <span class="hiddenText" *ngIf="obligatoriCliente">*</span>
                            <input type="text" class="form-control" formControlName="SegundoNombre" id="SegundoNom" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['SegundoNombre'].errors?.['pattern'] && (representanteFrom.controls['SegundoNombre'].dirty || representanteFrom.controls['SegundoNombre'].touched)">
            El segundo nombre solo acepta letras. </span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-md-12 col-lg-12" id="2">
                    <div class="col-md-3">
                        <div class="form-group" id="1">
                            <label class="textBlod">Primer apellido: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input type="text" class="form-control" formControlName="PrimerApellido" id="PrimerApe" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['PrimerApellido'].errors?.['required'] && (representanteFrom.controls['PrimerApellido'].dirty || representanteFrom.controls['PrimerApellido'].touched)">
                El primer apellido es obligatorio.
              </span>
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['PrimerApellido'].errors?.['pattern'] && (representanteFrom.controls['PrimerApellido'].dirty || representanteFrom.controls['PrimerApellido'].touched)">
                El primer apellido solo acepta letras. </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="2">
                            <label class="textBlod">Segundo apellido: </label>
                            <span class="hiddenText" *ngIf="obligatoriCliente">*</span>
                            <input type="text" class="form-control" formControlName="SegundoApellido" id="SegundoApe" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['SegundoApellido'].errors?.['pattern'] && (representanteFrom.controls['SegundoApellido'].dirty || representanteFrom.controls['SegundoApellido'].touched)">
              El primer apellido solo acepta letras. </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="2">
                            <label class="textBlod">Profesión: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input ngui-auto-complete [source]="dataProfesion" value-property-name="Id" formControlName="Profesion" display-property-name="Descripcion" list-formatter="Descripcion" class="form-control" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['Profesion'].errors?.['required'] && (representanteFrom.controls['Profesion'].dirty || representanteFrom.controls['Profesion'].touched)">
                  La profesión es obligatoria.
                </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="2">
                            <label class="textBlod">Cargo: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input ngui-auto-complete [source]="dataCargos" value-property-name="Clase" display-property-name="Descripcion" placeholder="Ingrese el cargo" list-formatter="Descripcion" class="form-control" formControlName="Cargo" [attr.disabled]="bloquearFormRep">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['Cargo'].errors?.['required'] && (representanteFrom.controls['Cargo'].dirty || representanteFrom.controls['Cargo'].touched)">
                El cargo es obligatorio.
              </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12" id="4">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="textBlod">Ciudad Nacimiento: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input formControlName="CiudadNaci" class="form-control" [attr.disabled]="bloquearFormRep" />
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['CiudadNaci'].errors?.['required'] && (representanteFrom.controls['CiudadNaci'].dirty || representanteFrom.controls['CiudadNaci'].touched)">
                  El pais nacimiento es obligatorio.
                </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="4">
                            <label class="textBlod">Fecha nacimiento: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input type="date" class="form-control" formControlName="FechaNacimiento" [attr.disabled]="bloquearFormRep" min="1900-01-01" max="9999-01-01">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['FechaNacimiento'].errors?.['required'] && (representanteFrom.controls['FechaNacimiento'].dirty || representanteFrom.controls['FechaNacimiento'].touched)">
                La fecha nacimiento es obligatoria.
              </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="textBlod">Ciudad expedición: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input formControlName="CiudadExpe" class="form-control" [attr.disabled]="bloquearFormRep" />
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['CiudadExpe'].errors?.['required'] && (representanteFrom.controls['CiudadExpe'].dirty || representanteFrom.controls['CiudadExpe'].touched)">
              El pais expedición es obligatorio.
            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" id="3">
                            <label class="textBlod">Fecha expedición: </label>
                            <span class="textBigRed" *ngIf="obligatoriCliente">*</span>
                            <input type="date" class="form-control" formControlName="FechaExpedicion" [attr.disabled]="bloquearFormRep" min="1900-01-01" max="9999-01-01">
                            <span class="help-block validationSpan" *ngIf="representanteFrom.controls['FechaExpedicion'].errors?.['required'] && (representanteFrom.controls['FechaExpedicion'].dirty || representanteFrom.controls['FechaExpedicion'].touched)">
              La fecha expedición es obligatoria.
            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="table-responsive container-scroll">
                            <table id="tablaIngresos" class="table table-hover">
                                <thead>
                                    <tr class="bg-morado">
                                        <th class="text-center" colspan="12">PREGUNTAS</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="3">¿Es usted una persona expuesta políticamento o públicamente? </td>
                                        <td colspan="3">
                                            Si <input type="checkbox" class="switchery" formControlName="Representante1Si" [attr.disabled]="bloquearFormRep"> No <input type="checkbox" class="switchery" formControlName="Representante1No" [attr.disabled]="bloquearFormRep">
                                            <br>
                                        </td>
                                        <td colspan="3">¿Maneja recursos publicos?</td>
                                        <td colspan="3">
                                            Si <input type="checkbox" class="switchery" formControlName="Representante2Si" [attr.disabled]="bloquearFormRep"> No <input type="checkbox" class="switchery" formControlName="Representante2No" [attr.disabled]="bloquearFormRep">
                                            <br>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-xs-12 col-md-12 col-lg-12" id="3">

                    <div class="col-xs-12 col-md-12 col-lg-12" *ngIf="datatableRepresenta.length <= 0 && datatableRepresenta.length <= 0">
                        <br>
                        <div class="alert alert-secondary" role="alert">
                            No se encontraron registros.
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 panel panel-flat" *ngIf="datatableRepresenta.length > 0 || datatableRepresenta.length> 0">
                        <!--Tabla-->
                        <div class="table-responsive scrollTabla">
                            <table id="tablaIngresos" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            <strong>Tipo contacto</strong>
                                        </th>
                                        <th>
                                            <strong>Descripción</strong>
                                        </th>
                                        <th>
                                            <strong>Ubicación</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let itemRepresenta of datatableRepresenta; let i = index">
                                    <tr class="filRepre_{{i}}" (click)="CambiarColor(i,1)">
                                        <td>
                                            {{itemRepresenta.IdTipoContacto}}
                                        </td>
                                        <td>
                                            {{itemRepresenta.Descripcion}}
                                        </td>
                                        <td *ngIf="itemRepresenta.IdCiudad !== 0 && itemRepresenta.IdCiudad !== null && itemRepresenta.IdCiudad !== undefined">
                                            {{itemRepresenta.IdCiudad}}
                                        </td>
                                        <td *ngIf="itemRepresenta.IdCiudad === 0 || itemRepresenta.IdCiudad === null || itemRepresenta.IdCiudad === undefined">
                                            N/A
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <ngx-loading [show]="loading" [config]="{}">
        </ngx-loading>
    </form>
    <br>
    <div class="row">
        <!--Botones-->
        <div class="col-xs-12 col-md-12 col-lg-12 text-right">
            <!-- <input type="submit" class="btn Gt-btn-verde" value="Agregar" /> &nbsp; -->
            <input type="submit" *ngIf="mostrarLimpiar" class="btn Gt-btn-morado" value="Limpiar" (click)="limpiarFormulario()" /> &nbsp;
            <input type="submit" *ngIf="mostrarSiguiente" class="btn Gt-btn-verde" value="Siguiente" (click)="GuardarRepresentante()" /> &nbsp;
            <input type="submit" *ngIf="mostrarActualizar" class="btn Gt-btn-verde" value="Actualizar" (click)="ActualizarRepresentante()" />
        </div>
    </div>
</div>


<!--Modal informativa para actualizar representate-->