<form>
    <div class="panel panel-white">
        <!-- Panel operaciones juridico-->
        <div class="panel-heading doNotPrint">
            <h3 class="panel-title">
                <iframe src="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/UserInf.html?cidReq=REPOSITORIODEVIDEOS&id_session=0&gidReq=0&gradebook=0&origin=" style="border:none;" title="Iframe"></iframe>
            </h3>
            <div>
                <div class="embed-responsive embed-responsive-16by9">
                    <!-- <iframe _ngcontent-xbs-c4="" allowfullscreen=""
                        src="https://app.powerbi.com/reportEmbed?reportId=ec86f11e-6d1d-43cd-bbc0-47afc5ac9779&autoAuth=true&ctid=30f68c37-0d84-45dc-81e6-1ade06900cab&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXNvdXRoLWNlbnRyYWwtdXMtcmVkaXJlY3QuYW5hbHlzaXMud2luZG93cy5uZXQvIn0%3D"
                        class="embed-responsive-item"></iframe> -->
                    <iframe _ngcontent-bok-c8="" _ngcontent-xbs-c4="" allowfullscreen="" class="embed-responsive-item" src="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/REPORTETRANSACCIONES.HTML"></iframe>
                </div>

            </div>
        </div>
    </div>
</form>