<form>
    <div class="panel panel-white">
        <div class="panel-heading">
            <h6 class="panel-title">Datos</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-toggle="modal" data-target="#ModalAyuda">
                            <i class="icon-question6 " title="Ayuda" data-popup="tooltip" data-trigger="hover" data-placement="top"></i>
                        </a>
                    </li>
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                </ul>
            </div>
        </div>
        <form method="get" [formGroup]="usuariosFrom">
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Tipo de documento:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <select class="form-control" formControlName="IdTipoDocumento" name="select">
                            <option [selected]="true" value='-'>-- Seleccione --</option>
                            <option *ngFor="let documentos of resultDocumento" [value]="documentos.IdLista"
                                [selected]="documentos.IdLista === selectedTipo">
                                {{documentos.Descripcion}}
                            </option>
                        </select>
                        <span class="help-block validationSpan " *ngIf="usuariosFrom.controls['IdTipoDocumento'].errors?.['required'] && (usuariosFrom.controls['IdTipoDocumento'].dirty || usuariosFrom.controls['IdTipoDocumento'].touched)|| usuariosFrom.controls['IdTipoDocumento'].value === '-'">
                            El tipo de documento es obligatorio.
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Documento:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <input type="text" class="form-control" name="Documento" formControlName="Documento" maxlength="15" pattern="^[0-9]*" />
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Documento'].errors?.['required'] && (usuariosFrom.controls['Documento'].dirty || usuariosFrom.controls['Documento'].touched)">
                            El documento es obligatorio.
                        </span>
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Documento'].errors?.['pattern'] && (usuariosFrom.controls['Documento'].dirty || usuariosFrom.controls['Documento'].touched)">
                            El documento solo acepta números
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                        <button type="submit" style="top:20PX" id="btnBuscar" (click)="BuscarUsuarios('Documento')" class="btn Gt-btn-verde btn-icon legitRipple"><i class="icon-search4"></i></button>
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Primer nombre:</label><span class="text-danger ObligatorioGrande"> *</span>
                            <input type="text" class="form-control  text-capitalize" name="Nombre" formControlName="Nombre" />
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Nombre'].errors?.['required'] && (usuariosFrom.controls['Nombre'].dirty || usuariosFrom.controls['Nombre'].touched)">
                                El nombre es obligatorio.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Segundo nombre:</label>
                        <input type="text" class="form-control text-capitalize" name="SegundoNombre" formControlName="SegundoNombre" />
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Primer apellido:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <input type="text" class="form-control text-capitalize" id="Apellido" formControlName="Apellido" />
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Apellido'].errors?.['required'] && (usuariosFrom.controls['Apellido'].dirty || usuariosFrom.controls['Apellido'].touched)">
                            El apellido es obligatorio.
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Segundo apellido:</label>
                            <input type="text" class="form-control text-capitalize" id="SegundoApellido" formControlName="SegundoApellido" />
                        </div>
                    </div>

                </div>


                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Fecha de nacimiento:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="icon-calendar22"></i></span>
                            <input type="date" name="FechadeNacimiento" formControlName="FechaNacimiento" class="form-control">
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['FechaNacimiento'].errors?.['required'] && (usuariosFrom.controls['FechaNacimiento'].dirty || usuariosFrom.controls['FechaNacimiento'].touched)">
                                La fecha de nacimiento es obligatoria.
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Área:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <input (change)="CambioArea()" ngui-auto-complete formControlName="AreaL" [source]="resultArea" value-property-name="IdArea" display-property-name="Nombre" list-formatter="Nombre" class="form-control">
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['AreaL'].errors?.['required'] && (usuariosFrom.controls['AreaL'].dirty || usuariosFrom.controls['AreaL'].touched)|| usuariosFrom.controls['AreaL'].value === '-'">
                            El área es obligatorio.
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Cargo:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <input (change)="CambioCargo()" ngui-auto-complete formControlName="CargoL" [source]="resultCargo" value-property-name="IdCargo" display-property-name="Nombre" list-formatter="Nombre" class="form-control">
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['CargoL'].errors?.['required'] && (usuariosFrom.controls['CargoL'].dirty || usuariosFrom.controls['CargoL'].touched)|| usuariosFrom.controls['CargoL'].value === '-'">
                            El cargo es obligatorio.
                        </span>
                    </div>
                </div>



                <div class="col-xs-12 col-md-12 col-lg-12">
                    <br />
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <label>Usuario:</label><span class="text-danger ObligatorioGrande"> *</span>
                        <input type="text" class="form-control text-lowercase" name="Usuario" formControlName="Usuario" />
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Usuario'].errors?.['required'] && (usuariosFrom.controls['Usuario'].dirty || usuariosFrom.controls['Usuario'].touched)">
                            El usuario es obligatorio.
                        </span>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                        <button type="submit" style="top:20PX" id="btnBuscar" (click)="BuscarUsuarios('Usuario')" class="btn Gt-btn-verde btn-icon legitRipple">
                            <i class="icon-search4"></i>
                        </button>
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Oficina:</label><span class="text-danger ObligatorioGrande"> *</span>
                            <input (change)="CambioOficina()" ngui-auto-complete formControlName="OficinaL" [source]="resultOficina" value-property-name="IdLista" display-property-name="Descripcion" list-formatter="Descripcion" class="form-control">
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['OficinaL'].errors?.['required'] && (usuariosFrom.controls['OficinaL'].dirty || usuariosFrom.controls['OficinaL'].touched)|| usuariosFrom.controls['OficinaL'].value === '-'">
                                La oficina es obligatoria.
                            </span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>

                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Extension:</label>
                            <input type="text" class="form-control" name="Extension" formControlName="Extension" />
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Email:</label><span class="text-danger ObligatorioGrande"> *</span>
                            <input type="email" pattern="" class="form-control" Name="Email" formControlName="Email" placeholder="usuario@coogranada.com.co" />
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Email'].errors?.['required'] && (usuariosFrom.controls['Email'].dirty || usuariosFrom.controls['Email'].touched)">
                                El email es obligatorio.
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Celular:</label><span class="text-danger ObligatorioGrande"> </span>
                            <input type="text"  minlength="10" maxlength="10" class="form-control" Name="Celular"  formControlName="Celular" />
                        </div>
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Celular'].errors?.['pattern'] && (usuariosFrom.controls['Celular'].dirty || usuariosFrom.controls['Celular'].touched)">
                            El celular solo acepta números. </span>
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Celular'].errors?.['maxlength']">
                            El celular acepta máximo 10 números.
                        </span>
                        <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Celular'].errors?.['minlength']">
                            El celular acepta mínimo 10 números.
                        </span>
                    </div>
                   
                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Usuario autorizador:</label><span class="text-danger ObligatorioGrande"> *</span>
                            <select class="form-control" formControlName="Autorizador" name="select">
                                <option [selected]="true" value='-'>-- Seleccione --</option>
                                <option value='false'>No</option>
                                <option value='true'>Si</option>
                            </select>
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['Autorizador'].errors?.['required'] && (usuariosFrom.controls['Autorizador'].dirty || usuariosFrom.controls['Autorizador'].touched) || usuariosFrom.controls['Autorizador'].value === '-'">
                                El usuario autorizador es obligatorio.
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Pefiles:</label>
                            <select class="form-control" formControlName="Perfil" name="Perfil" (change)="addTags($event)">
                                <option *ngFor="let perfiles of resultPerfiles" [ngValue]="perfiles">
                                    {{perfiles.Nombre}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1 col-lg-1">
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label>Estado:</label><span class="text-danger ObligatorioGrande"> *</span>
                            <select class="form-control" formControlName="IdEstado" name="select">
                                <option [selected]="true" value='-'>-- Seleccione --</option>
                                <option *ngFor="let estados of estadosUsuarios" [value]="estados.value"
                                    [selected]="estados.value === selectedEstado">
                                    {{estados.descripcion}}
                                </option>
                            </select>
                            <span class="help-block validationSpan" *ngIf="usuariosFrom.controls['IdEstado'].errors?.['required'] && (usuariosFrom.controls['IdEstado'].dirty || usuariosFrom.controls['IdEstado'].touched)|| usuariosFrom.controls['IdEstado'].value === '-'">
                                El estado es obligatorio.
                            </span>
                        </div>
                    </div>
                   
                    <div class="col-xs-12 col-md-3 col-lg-3">   </div>
   
                
                    
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label style="visibility:hidden">IdUsuario:</label>
                            <input type="text" class="form-control" style="visibility:hidden" id="txtIdUsuario" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <tag-input formControlName='Perfiles' secondaryPlaceholder='Perfiles' placeholder="Perfiles" [identifyBy]="'IdPerfil'" [displayBy]="'Nombre'" (onRemove)="RemovedTags($event)">
                            </tag-input>
                        </div>
                    </div>
                </div>

                <input type="hidden" class="form-control" formControlName='IdUsuario' />
                <!-- <div class="col-xs-12 col-md-12 col-lg-12 text-right">
                   
                    <div class="col-xs-12 col-md-1 col-lg-2 "></div>

                    <div class="col-xs-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <input type="file" style="margin-top: 25px; right:220px;" class="file-styled" accept="image/gif,image/jpeg,image/jpg,image/png" formControlName="Base64String" (change)="handleFileSelect($event)">
                        </div>
                    </div>
                   
                    <div class="col-xs-12 col-md-3 col-lg-2 text-right">
                        <div class="form-group">
                            <input type="submit" style="top: 40px; right:80px;" class="btn Gt-btn-verde" [disabled]="bloqueoBtnAgregar" value="Actualizar Imagen" (click)="ActualizarImagenUsuario()" /> &nbsp;
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-1 col-lg-1 text-right" *ngIf="disableActualizar">
                        <div class="form-group">
                            <input type="submit" id="btnGuardar" style="margin-top: 15px;right:40px;" class="btn Gt-btn-verde" value="Guardar" (click)="GuardarUsuarios()" [disabled]="usuariosFrom.invalid" /> &nbsp;
                        </div>   
                    </div>
                    <div class="col-xs-12 col-md-1 col-lg-1 text-right" *ngIf="!disableActualizar">
                        <div class="form-group">
                            <input type="submit" id="btnActualizar" style="margin-top: 15px;right:60px;"  class="btn Gt-btn-verde" value="Actualizar" (click)="ActualizarUsuarios()" [disabled]="usuariosFrom.invalid" /> &nbsp;
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-1 col-lg-1 text-right">
                        <div class="form-group">
                            <input type="submit" id="btnNuevo" style="margin-top: 15px;" class="btn Gt-btn-morado" value="Nuevo" (click)="Nuevo()" />
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-xs-12 col-md-1 col-lg-1">
                        <div class="form-group">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <input type="file" style="margin-top: 10px; " class="file-styled" accept="image/gif,image/jpeg,image/jpg,image/png" formControlName="Base64String" (change)="handleFileSelect($event)">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-8 text-right">
                        <input type="submit"  class="btn Gt-btn-verde" [disabled]="bloqueoBtnAgregar" value="Actualizar Imagen" (click)="ActualizarImagenUsuario()" />  &nbsp;
                        <input type="submit" id="btnGuardar" *ngIf="disableActualizar" class="btn Gt-btn-verde" value="Guardar" (click)="GuardarUsuarios()" [disabled]="usuariosFrom.invalid" /> 
                        <input type="submit" id="btnActualizar"  *ngIf="!disableActualizar" class="btn Gt-btn-verde" value="Actualizar" (click)="ActualizarUsuarios()" [disabled]="usuariosFrom.invalid" />&nbsp;
                        <input type="submit" id="btnNuevo"   class="btn Gt-btn-morado" value="Nuevo" (click)="Nuevo()" />&nbsp;
                    </div>
                </div>
            </div>
        </form>
       
    </div>
    <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}">
    </ngx-loading>
</form>

<div class="col-md-12 col-lg-12 col-sm-12 panel panel-default" id="PanelDatos">
    <div class="panel-body ">
        <div class="table-responsive scrollTabla">
            <table id="TablaAreas" class="table table-hover">
                <thead>
                    <tr>
                        <th class="Column_Documento"><strong>Documento</strong></th>
                        <th class="Column_Nombre"><strong>Nombre</strong></th>
                        <th class="Column_Usuario"><strong>Usuario</strong></th>
                        <th class="Column_Email"><strong>Email</strong></th>
                        <th class="Column_Oficina"><strong>Oficina</strong></th>
                        <th class="Column_Cargo"><strong>Cargo</strong></th>
                        <th class="Column_Perfil"><strong>Perfil</strong></th>
                    </tr>
                </thead>
                <tbody *ngFor="let usuario of Usuarios; let i = index;">
                    <tr class="filUsuario_{{i}}" (click)="CambiarColor(i,1)">
                        <td>{{usuario.Documento}}</td>
                        <td class="Column_Nombre columnaNombre : usuario.Nombre.length = 30">{{usuario.Nombre}}</td>
                        <td>{{usuario.Usuario}}</td>
                        <td>{{usuario.Email}}</td>
                        <td>{{usuario.Oficina}}</td>
                        <td class="Column_Cargo columnaCargo :usuario.Cargo.length = 30">{{usuario.Cargo}}</td>
                        <td class="Column_Perfil columnaPerfil :usuario.TablaPerfil.length = 30">{{usuario.TablaPerfil}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- <app-root (permisosEmit)="getPermisos($event)">
</app-root> -->
<!-- Modal Ayuda -->
<div id="ModalAyuda" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="icon-question6"></i> Ayuda</h6>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Todos los campos marcados con <span class="text-danger ObligatorioGrande">*</span> son obligatorios.
                    </li>
                    <li>Para actualizar los perfiles debe presionar el botón "Actualizar".</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Ayuda -->