<form>
    <form method="get" [formGroup]="asesoriacontractualFrom">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Datos{{operacionEscogida}}</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-toggle="modal" data-target="#ModalAyuda"><i class=" icon-question6 " title="Ayuda"
                                    data-popup="tooltip" data-trigger="hover" data-placement="top"></i></a></li>
                        <li>
                            <a data-action="collapse"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!-- Inicio Operación -->
                        <form method="get" [formGroup]="asesoriacontractualOperacionFrom">
                            <label class="col-xs-12 col-md-3 col-lg-1 textNegrilla">Operación:<span class="grande">*</span></label>
                            <div class="col-xs-10 col-md-8 col-lg-4">
                                <select class="form-control" formControlName="Codigo" id="select" (change)=" ValorSeleccionado()">
                                    <option *ngFor="let operacionContractual of resultOperaciones"
                                        [value]="operacionContractual.ERP_tblOperacion.IdOperacion">
                                        {{operacionContractual.ERP_tblOperacion.Descripcion}}</option>
                                </select>
                                <span class="help-block validationSpan" *ngIf="asesoriacontractualOperacionFrom.controls['Codigo'].errors?.['required'] && (asesoriacontractualOperacionFrom.controls['Codigo'].dirty || asesoriacontractualOperacionFrom.controls['Codigo'].touched)">
                                    La operación es obligatoria.
                                    </span>
                            </div>
                        </form>
                    </div>

                    <!-- Fin Operación -->
                </div>
                <div class="col-md-12  col-sm-12 col-lg-12" id="PanelDatos">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Cuenta -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Cuenta:</label>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <input type="text" class="form-control" formControlName="NumeroAsesoria" maxlength="5" [attr.disabled]="BloquearBuscar" (blur)="BuscarAsesoria()" />
                            <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['NumeroAsesoria'].errors?.['pattern']">
                                El número asesoria solo acepta números.
                                </span>
                        </div>

                        <!-- Fin Cuenta -->

                        <div class="col-xs-1 col-md-1 col-lg-4">
                        </div>


                        <!-- Inicio Buscar -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Buscar:</label>
                        </div>
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <input type="text" class="form-control" id="BuscarAsesoria" tooltip="Documento" placement="top" show-delay="500" formControlName="BuscarDocumento" (keypress)="LimpiarCampos('BuscarDocumento')" [attr.disabled]="BloquearBuscar" />
                            <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['BuscarDocumento'].errors?.['pattern']">
                                El documento solo acepta números.
                                </span>
                        </div>
                        <div class="col-xs-12 col-md-5 col-lg-2">
                            <input type="text" class="form-control" tooltip="Nombre" placement="top" show-delay="500" formControlName="BuscarNombre" [attr.disabled]="BloquearBuscar" (keypress)="LimpiarCampos('BuscarNombre')" />
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon" (click)="BotonBuscarAsesoriaContractual()" [attr.disabled]="BloquearBuscar">
                            <i class="icon-search4"></i>
                        </button>
                        </div>
                        <!-- Fin Buscar -->
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!-- Inicio nombre -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Nombre:</label>
                            <span class="grande">*</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <input type="text" class="form-control" id="SelectNombre" maxlength="15" formControlName="NumeroDocumento" [attr.disabled]="BloquearNombre" (blur)="BuscarNombreXDocumento()" />
                            <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['NumeroDocumento'].errors?.['pattern']">
                            El documento solo acepta números.
                            </span>
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-3">
                            <input type="text" class="form-control pmayuscula" formControlName="Nombre" (blur)="ValidarCampoAsociado()" [attr.disabled]="BloquearNombre">
                            <span class="help-block validationSpan" *ngIf="MostrasAlertaAsociado">
                            Campo obligatorio.
                            </span>
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" [attr.disabled]="BloquearNombre" (click)="BuscarNombreXNombre()">
                                    <i class="icon-search4"></i>
                                </button>
                        </div>
                        <!-- Fin nombre -->
                        <!-- Inicio Relacion -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Relación:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-10 col-md-8 col-lg-3">
                            <select class="form-control" name="select" formControlName="Clase" [attr.disabled]="Bloquear">
                                <option *ngFor="let Relacion of resultRelacion" [value]="Relacion.Clase">
                                    {{Relacion.Descripcion}}</option>
                            </select>
                        </div>
                        <!-- Fin Relacion -->


                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Asesor -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Asesor:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdAsesor" (change)="BuscarAsesor()" (keypress)="LimpiarCampos('IdAsesor')" [attr.disabled]="Bloquear">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-4">
                            <input type="text" class="form-control" formControlName="NombreAsesor" (keypress)="LimpiarCampos('NombreAsesor')" [attr.disabled]="Bloquear">
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarAsesor()" [attr.disabled]="Bloquear"><i class="icon-search4"></i></button>
                        </div>
                        <!-- Fin Asesor -->
                        <!-- Inicio Oficina -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Oficina:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="NumeroOficina" [attr.disabled]="Bloquear">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-2">
                            <input type="text" class="form-control" formControlName="NombreOficina" [attr.disabled]="Bloquear">
                        </div>
                        <!-- Fin Oficina -->
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Asesor Externo -->
                        <form method="get" [formGroup]="AsesorFrom">
                            <div class="col-xs-12 col-md-3 col-lg-1">
                                <label class="textNegrilla">Asesor externo:</label>
                            </div>
                            <div class="col-xs-4 col-md-3 col-lg-1">
                                <input type="text" class="form-control" id="SelectAsesorExterno" tooltip="Id asesor" placement="top" show-delay="500" formControlName="strCodigo" (blur)="BuscarAsesorExternoCodigo()" [attr.disabled]="BloquearAsesorExterno" (keypress)="LimpiarCampos('strCodigo')"
                                    maxlength="4" />
                                <span class="help-block validationSpan" *ngIf="AsesorFrom.controls['strCodigo'].errors?.['pattern']">
                                    El Id asesor solo acepta números.
                                </span>
                            </div>
                            <div class="col-xs-6 col-md-5 col-lg-4">
                                <input type="text" class="form-control" tooltip="Nombre asesor" placement="top" show-delay="500" formControlName="strNombre" [attr.disabled]="BloquearAsesorExterno" (keypress)="LimpiarCampos('strNombre')" />
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarAsesorExternoTodos()" [attr.disabled]="BloquearAsesorExterno">
                                    <i class="icon-search4"></i></button>
                            </div>
                        </form>
                        <!-- Fin Asesor Externo -->
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <div class="col-xs-12 col-md-3 col-lg-7">

                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <br />
                            <div class="col-xs-12 col-md-12 col-lg-12 text-right">

                                <button type="button" style="visibility:hidden" #ModalBuscarAsociados class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-target="#ModalBuscarAsociados" [attr.disabled]="Bloquear">
                                <i class="icon-search4"></i>
                                </button>

                                <input type="button" class="btn Gt-btn-morado" value="Limpiar" (click)="Limpiar()" /> &nbsp;

                                <input type="button" class="btn Gt-btn-verde" *ngIf="!btnGuardar" value="Guardar" [disabled]="!asesoriacontractualFrom.valid" (click)="GuardarAsesoria()" /> &nbsp;

                                <input type="button" class="btn Gt-btn-verde" *ngIf="!btnActualizar" value="Actualizar" [disabled]="!BloquearbtnActalizar" (click)="ActualizarAsesoria()" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <input type="hidden" #ModalContractual data-toggle="modal" data-target="#ModalContractual" data-popup="tooltip" data-trigger="hover" data-placement="top">
            <input type="hidden" #ModalAsesores data-toggle="modal" data-target="#ModalAsesores" data-popup="tooltip" data-trigger="hover" data-placement="top">
            <input type="hidden" #ModalAsesoresExterno data-toggle="modal" data-target="#ModalAsesoresExterno" data-popup="tooltip" data-trigger="hover" data-placement="top">
            <input type="hidden" #ModalAsesoria data-toggle="modal" data-target="#ModalAsesoria" data-popup="tooltip" data-trigger="hover" data-placement="top">
            <input type="hidden" #ModalNombre data-toggle="modal" data-target="#ModalNombre" data-popup="tooltip" data-trigger="hover" data-placement="top">
            <input type="hidden" #ModalCreacionNombre data-toggle="modal" data-target="#ModalCreacionNombre" data-popup="tooltip" data-trigger="hover" data-placement="top">
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 panel panel-default" id="PanelTab">
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="tabbable">
                        <ul class="nav nav-tabs">
                            <li id="negociacion" (click)="devolverTab(1)" [ngClass]="{'activar': activaNegociacion === true }">
                                <a href="#tab1" data-toggle="tab">Negociación</a>
                            </li>
                            <li id="historial" [ngClass]="{'activar': activaHistorial === true }">
                                <a href="#tab2" data-toggle="tab">Historial</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <!-- Inicio tab1 -->
                            <div class="tab-pane active" id="tab1">

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <br/>
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <!-- Inicio encabezado producto -->
                                    <div class="col-xs-12 col-md-8 col-lg-3">
                                        <label class="textNegrilla">Producto:</label>
                                        <span class="grande"> *</span>
                                    </div>
                                    <!-- Fin encabezado producto-->
                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <!-- Inicio producto -->
                                    <div class="col-xs-4 col-md-3 col-lg-2">
                                        <input type="text" class="form-control" id="SelectProducto" formControlName="IdProducto" (blur)="Producto()" (keypress)="LimpiarCampos('IdProducto')" maxlength="3" [attr.disabled]="BloquearProducto">
                                        <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['IdProducto'].errors?.['pattern']">
                                    El producto solo acepta números.
                                    </span>
                                    </div>
                                    <div class="col-xs-6 col-md-5 col-lg-5">
                                        <input type="text" class="form-control" formControlName="DescripcionProducto" (blur)="ValidarCampoProducto()" (keypress)="LimpiarCampos('DescripcionProducto')" [attr.disabled]="BloquearProducto">
                                        <span class="help-block validationSpan" *ngIf="MostrasAlertaProducto">
                                    Campo obligatorio.
                                    </span>
                                    </div>
                                    <div class="col-xs-1 col-md-1 col-lg-1">
                                        <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarProducto()" [attr.disabled]="BloquearProducto"><i
                                    class="icon-search4"></i></button>
                                    </div>
                                    <!-- Fin producto-->
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <br/>
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <!-- Inicio Plazo -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Plazo:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" id="SelectPlazo" class="form-control" formControlName="Plazo" [attr.disabled]="BloquearNegociacion" maxlength="3" (blur)="ValidarPlazo()">
                                        <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['Plazo'].errors?.['pattern']">
                                            El plazo solo acepta números.
                                        </span>
                                    </div>
                                    <!-- Fin Plazo-->

                                    <div class="col-xs-12 col-md-12 col-lg-1"> </div>

                                    <!-- Inicio CuotaMes  -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Cuota mes:</label>
                                        <span *ngIf="!obligatorio" class="grande"> *</span>
                                        <input style="text-align:right" type="text" id="SelectCuotaMes" class="form-control" formControlName="CuotaMes" [attr.disabled]="BloquearCuotaMes" (blur)="ValorTotalPlan()" (blur)="ObtenerTasa()" currencyMask [options]="{prefix:'$ ',thousands:'.'}" maxlength="10">
                                        <span class="help-block validationSpan" *ngIf="asesoriacontractualFrom.controls['CuotaMes'].errors?.['pattern']">
                                            La cuota mes solo acepta números y ceros como  decimales.
                                        </span>
                                    </div>
                                    <!-- Fin CuotaMes  -->

                                    <div class="col-xs-12 col-md-12 col-lg-1"> </div>

                                    <!-- Inicio ValorTotalPlan -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Valor total plan:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="ValorPlan" currencyMask [options]="{prefix:'$ ',thousands:'.'}" (blur)="ObtenerTasa()" (blur)="ValidarValor()" maxlength="13" [attr.disabled]="BloquearValorTotal">
                                    </div>
                                    <!-- Fin ValorTotalPlan -->
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <br />
                                    <!-- Inicio Periodo -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Período:</label>
                                        <span class="grande"> *</span>
                                        <select class="form-control" name="select" formControlName="IdPeriodo" [attr.disabled]="BloquearPeriodo">
                                            <option *ngFor="let periodo of resultPeriodo" [value]="periodo.IdPeriodo">
                                                {{periodo.DescripcionPeriodo}}</option>
                                        </select>
                                    </div>
                                    <!-- Fin Periodo -->
                                    <div class="col-xs-12 col-md-12 col-lg-1"> </div>
                                    <!-- Inicio TasaEfectiva  -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Tasa efectiva:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="TasaEfectiva" [attr.disabled]="Bloquear">
                                    </div>
                                    <!-- Fin TasaEfectiva -->

                                    <div class="col-xs-12 col-md-12 col-lg-1"> </div>

                                    <!-- Inicio TasaNominal   -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Tasa nominal:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="TasaNominal" [attr.disabled]="Bloquear">
                                    </div>
                                    <!-- Fin TasaNominal -->
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <br />
                                    <!-- Inicio Interes bruto -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Interés bruto:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="InteresBruto" currencyMask [options]="{prefix:'$ ',thousands:'.'}" maxlength="10" [attr.disabled]="Bloquear">
                                    </div>
                                    <!-- Fin Interes bruto -->

                                    <div class="col-xs-12 col-md-12 col-lg-1"></div>

                                    <!-- Inicio Total rte.fte -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Retención en la fuente:</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="Retencion" currencyMask [options]="{prefix:'$ ',thousands:'.'}" maxlength="10" [attr.disabled]="Bloquear">
                                    </div>
                                    <!-- Fin Total rte.fte -->
                                    <div class="col-xs-12 col-md-12 col-lg-1"> </div>
                                    <!-- Inicio Total rte.fte -->
                                    <div class="col-xs-12 col-md-4 col-lg-3">
                                        <label class="textNegrilla">Total interés</label>
                                        <span class="grande"> *</span>
                                        <input style="text-align:right" type="text" class="form-control" formControlName="TotalInteres" currencyMask [options]="{prefix:'$ ',thousands:'.'}" maxlength="10" [attr.disabled]="Bloquear">
                                    </div>
                                    <!-- Fin Total rte.fte -->

                                </div>
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <br />

                                </div>
                            </div>
                            <!-- Fin tab1 -->
                            <!-- Inicio tab2 -->
                            <div class="tab-pane " id="tab2">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <!-- Fechas -->
                                    <div class="col-xs-12 col-md-3 col-lg-3">
                                        <!-- Inicio creacion -->
                                        <div class="form-group">
                                            <label class="textNegrilla">Fecha creación:</label>
                                            <input style="text-align:left" type="text" class="form-control" formControlName="FechaCreacion" [attr.disabled]="Bloquear">
                                        </div>
                                        <!-- Fin creacion -->
                                        <!-- Inicio Vencimiento   -->
                                        <div class="form-group">
                                            <label class="textNegrilla">Fecha vencimiento</label>
                                            <input style="text-align:left" type="text" class="form-control" formControlName="FechaVencimiento" [attr.disabled]="Bloquear">
                                        </div>
                                        <!-- Fin Vencimiento  -->
                                    </div>

                                    <!-- Historial -->
                                    <div class="col-xs-12 col-md-9 col-lg-9" *ngIf="dataHistorial.length <= 0">
                                        <br>
                                        <div class="alert alert-secondary" role="alert">
                                            No hay registros
                                        </div>
                                    </div>

                                    <div class="col-xs-12 col-md-9 col-lg-9" *ngIf="dataHistorial.length > 0">
                                        <div class="table-responsive scrollTabla panel panel-default">
                                            <table id="TablaDatosHistorial" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-bold">Nombre usuario</th>
                                                        <th class="text-bold">Fecha</th>
                                                        <th class="text-bold">Operación</th>

                                                    </tr>
                                                </thead>
                                                <tbody *ngFor="let historial of dataHistorial;">
                                                    <tr>
                                                        <td>{{historial.NombreCompleto}}</td>
                                                        <td>{{historial.FechaHistorial | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                                                        <td>{{historial.Descripcion}}</td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!-- Fin tab2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-md-12 col-lg-3 text-right">
            <input type="button" style="visibility:hidden" data-toggle="tab" href="#tab1" #tab1/>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 text-right">
            <app-formato-asesoria #FormatoAsesoria></app-formato-asesoria>
            <button type="button" style="visibility:hidden" #ModalImpresionAsesoria (click)="FormatoAsesoria.AbrirFormatoAsesoria(items)"></button>
        </div>

    </form>

    <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}">
    </ngx-loading>
</form>

<!-- Modal Ayuda -->
<div id="ModalAyuda" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="icon-question6"></i> Ayuda</h6>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Todos los campos marcados con <span class="text-danger">*</span> son obligatorios.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Ayuda -->
<!--/ Inicio Modal Productos -->
<div id="ModalContractual" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Contractual</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table id="TablaProductos" class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>Producto</strong> </th>
                                <th><strong>Descripción Producto</strong></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let resultContractual of resultProducto">
                            <tr (click)="MapearDatosProductos(resultContractual)">
                                <td data-dismiss="modal">
                                    {{resultContractual.IdProducto}}
                                </td>
                                <td data-dismiss="modal">
                                    {{resultContractual.DescripcionProducto}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Productos -->
<!--/ Modal Asesor -->
<div id="ModalAsesores" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Asesor</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>Codigo</strong></th>
                                <th><strong>Nombre Asesor</strong></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let resultAsesor of resultAsesor">
                            <tr (click)="MapearDatosAsesor(resultAsesor)">
                                <td data-dismiss="modal">
                                    {{resultAsesor.IdAsesor}}
                                </td>
                                <td data-dismiss="modal">
                                    {{resultAsesor.Nombre}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Asesor -->
<!--/ Inicio Modal AsesoresExterno -->
<div id="ModalAsesoresExterno" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Asesor Externo</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><strong>Codigo</strong></th>
                                <th><strong>Nombre Asesor Externo</strong></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let resultAsesorExterno of resultAsesoresExterno">
                            <tr (click)="MapearDatosAsesorExterno(resultAsesorExterno)">
                                <td data-dismiss="modal">
                                    {{resultAsesorExterno.intIdAsesor}}
                                </td>
                                <td data-dismiss="modal">
                                    {{resultAsesorExterno.Nombre}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal AsesoresExterno -->
<!--/ Modal Asesoria -->
<div id="ModalAsesoria" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Asesorias</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <strong>Nro. Asesoria</strong>
                                </th>
                                <th>
                                    <strong>Documento</strong>
                                </th>
                                <th>
                                    <strong>Nombre</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let asesoria of resultAsesoria">
                            <tr (click)="BuscarAsesoriaModal(asesoria.NumeroDocumento, asesoria.NumeroAsesoria)">
                                <td data-dismiss="modal">
                                    {{asesoria.NumeroAsesoria}}
                                </td>
                                <td data-dismiss="modal">
                                    {{asesoria.NumeroDocumento}}
                                </td>
                                <td data-dismiss="modal">
                                    {{asesoria.PrimerApellido + ' ' + asesoria.SegundoApellido + ' ' + asesoria.PrimerNombre + ' ' + asesoria.SegundoNombre}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Asesoria -->
<!--/ Modal creacion nombre -->
<div id="ModalCreacionNombre" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header bg-morado">
                <h6 class="modal-title">Registrar nombre</h6>
            </div>
            <div class="modal-body">
                <form method="get" [formGroup]="creacionFrom">
                    <div class="col-xs-12 col-md-12 col-lg-12">

                        <!-- Inicio PrimerApellido -->
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <label class="textNegrilla">Primer apellido: <span class="grande">*</span></label>
                            <input type="text" formControlName="PrimerApellido" class="form-control pmayuscula" [attr.disabled]="BloquearNombre" id="priApe" (blur)="validarValorCampo('priApe','PrimerApellido')" />
                            <span class="help-block validationSpan" *ngIf="creacionFrom.controls['PrimerApellido'].errors?.['pattern']">
                            El primer apellido solo acepta letras.
                            </span>
                        </div>
                        <!-- Fin PrimerApellido -->
                        <!-- Inicio SegundoApellido -->
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <label class="textNegrilla">Segundo apellido:</label>
                            <input type="text" formControlName="SegundoApellido" class="form-control pmayuscula" [attr.disabled]="BloquearNombre" id="segApe" (blur)="validarValorCampo('segApe','SegundoApellido')">
                            <span class="help-block validationSpan" *ngIf="creacionFrom.controls['SegundoApellido'].errors?.['pattern']">
                            El segundo apellido solo acepta letras.
                            </span>
                        </div>
                        <!-- Fin SegundoApellido -->
                        <!-- Inicio PrimerNombre -->
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <label class="textNegrilla">Primer nombre: <span class="grande">*</span> </label>
                            <input type="text" formControlName="PrimerNombre" class="form-control pmayuscula" [attr.disabled]="BloquearNombre" id="priNom" (blur)="validarValorCampo('priNom','PrimerNombre')">
                            <span class="help-block validationSpan" *ngIf="creacionFrom.controls['PrimerNombre'].errors?.['pattern']">
                            El primer nombre solo acepta letras.
                            </span>
                        </div>
                        <!-- Fin PrimerNombre -->
                        <!-- Inicio SegundoNombre -->
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <label class="textNegrilla">Segundo nombre:</label>
                            <input type="text" formControlName="SegundoNombre" class="form-control pmayuscula" [attr.disabled]="BloquearNombre" id="segNom" (blur)="validarValorCampo('segNom','SegundoNombre')">
                            <span class="help-block validationSpan" *ngIf="creacionFrom.controls['SegundoNombre'].errors?.['pattern']">
                            El segundo nombre solo acepta letras.
                            </span>
                        </div>
                        <!-- Fin SegundoNombre -->
                        <!-- Inicio TelefonoAsesoria -->
                        <div class="col-xs-12 col-md-3 col-lg-3">
                            <br/>
                            <label class="textNegrilla">Celular: <span class="grande">*</span> </label>
                            <input type="text" formControlName="TelefonoAsesoria" class="form-control pmayuscula" maxlength="10" [attr.disabled]="BloquearNombre">
                            <span class="help-block validationSpan" *ngIf="creacionFrom.controls['TelefonoAsesoria'].errors?.['pattern']">
                                El teléfono nombre solo acepta números.
                            </span>
                        </div>
                        <!-- Fin TelefonoAsesoria -->
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" style="visibility:hidden" data-dismiss="modal" #CerrarCreacionNombre></button>
                <button type="button" class="btn Gt-btn-verde" (click)="GuardarNombre()">Guardar</button> &nbsp;
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal" (click)="CerrarNombre()">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal creacion nombre -->
<!--/ Modal Nombre -->
<div id="ModalNombre" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Nombre</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <strong>Documento</strong>
                                </th>
                                <th>
                                    <strong>Nombre</strong>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let nombre of resultNombre">
                            <tr (click)="BuscarNombreModal(nombre.NumeroDocumento)">
                                <td data-dismiss="modal">
                                    {{nombre.NumeroDocumento}}
                                </td>
                                <td data-dismiss="modal">
                                    {{nombre.PrimerApellido + ' ' + nombre.SegundoApellido + ' ' + nombre.PrimerNombre + ' ' + nombre.SegundoNombre}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Asociado -->