<div class="col-xs-12 col-md-12 col-lg-12">
    <form [formGroup]="FormUtilidades">

        <div class="col-xs-12 col-md-3 col-lg-3">
            <div class="form-group">
                <label>Tipo de consulta:</label>
                <span class="abligatorioY"> *</span>
                <select class="form-control" name="MovExtSelector" formControlName="OpcionSelected" id="OpcionSe" [(ngModel)]="valueSlect" (change)="opcionSelected(valueSlect)">
                    <option value="-" [selected]="true">-- Seleccione --</option>
                    <option *ngIf="MostrarCertificadoSaldos" value="0">Certificado saldos y retenciones</option>
                    <option *ngIf="MostrarCertificadoRetencion" value="1">Certificado retenciones en la fuente</option>
                </select>
                <span class="help-block validationCertificate" *ngIf="showMsg1">
                    El tipo de consulta es obligatorio.
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-md-1 col-lg-1"></div>

        <div class="col-xs-12 col-md-2 col-lg-2">
            <div class="form-group">
                <label>Ingrese año:</label>
                <span class="abligatorioY"> *</span>
                <input type="text" class="form-control" name="YearIngresado" id="YearSelected">
                <span class="help-block validateYearC" *ngIf="showMsg2">
                    El año es obligatorio.
                </span>
            </div>
        </div>

        <div class="col-xs-12 col-md-1 col-lg-1" style="display: none;" id="primerDiv"></div>

        <div class="col-xs-12 col-md-2 col-lg-2" style="display: none;" id="segundoDiv">
            <div class="form-group">
                <label>Anexo:</label>
                <span class="abligatorioY"> *</span>
                <select class="form-control" [(ngModel)]="valueS" formControlName="anexoSelected" id="anexoSelected">
                <option  [selected]="true" value="-" >-- Seleccione --</option>
                <option *ngFor="let  anex of AnexosDtos" [value]="anex.Codigo">
                    {{anex.Nombre}}
                </option>
                </select>
                <span class="help-block validateYearC" *ngIf="ValidAnexo">
                  El anexo es obligario.
              </span>
            </div>
        </div>

        <div class="col-xs-12 col-md-5 col-lg-6 text-right" id="primerBotons">
            <div class="form-group">
                <br>
                <button type="button" class="btn Gt-btn-verde" (click)="Consultar()" style="padding: 9px 17px !important;">Consultar</button> &nbsp;&nbsp;
                <button type="button" class="btn Gt-btn-morado" (click)="Limpiar()" style="padding: 9px 17px !important;">Limpiar</button>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-backdrop="static" data-keyboard="false" id="abrirModalCertificateRetenciones" style="display: none" data-target="#ModalCertificadoRetenciones"></button>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-backdrop="static" data-keyboard="false" id="abrirModalCertificate" style="display: none" data-target="#ModalCertificadoSaldos"></button> &nbsp;&nbsp; &nbsp;&nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp;
            </div>
        </div>

        <div class="col-xs-12 col-md-3 col-lg-3 text-right" id="segundoBotons" style="display: none;">
            <div class="form-group">
                <br>
                <button type="button" class="btn Gt-btn-verde" (click)="Consultar()" style="padding: 9px 17px !important;">Consultar</button> &nbsp;&nbsp;
                <button type="button" class="btn Gt-btn-morado" (click)="Limpiar()" style="padding: 9px 17px !important;">Limpiar</button>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-backdrop="static" data-keyboard="false" id="abrirModalCertificateRetenciones" style="display: none" data-target="#ModalCertificadoRetenciones"></button>
                <button class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-backdrop="static" data-keyboard="false" id="abrirModalCertificate" style="display: none" data-target="#ModalCertificadoSaldos"></button> &nbsp;&nbsp; &nbsp;&nbsp;
                &nbsp;&nbsp; &nbsp;&nbsp;
            </div>
        </div>
    </form>
</div>

<!-- modal que mostra certificado de saldos  -->


<div id="ModalCertificadoSaldos" class="modal propertyModal">

    <div class="modal-dialog modal-dialog-xl">
        <div class="modal-content modal-lg modal-xl">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h5 class="modal-title" style="text-align: center;">CERTIFICACIÓN PARA EL AÑO GRAVABLE {{yearGravable}}
                </h5>
            </div>
            <div class="modal-body">

                <div>
                    <object *ngIf="DataSaldos == 1"></object>
                </div>

            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-right">
                        <button class="btn Gt-btn-verde " (click)="GenerarCertificadoSaldosPdf()" id="pdf">
                            <i class="icon-download4"></i>&nbsp; PDF
                        </button>&nbsp;
                        <button class="btn Gt-btn-verde " (click)="SendEmailCertificateSaldos()">
                            <i class="icon-mail5"></i>&nbsp; ENVIAR AL CORREO
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- fin de modal que muestra certificado de saldos -->

<!-- Modal que muestra el certificado de retenciones  -->


<div id="ModalCertificadoRetenciones" class="modal propertyModal">
    <div class="modal-dialog modal-dialog-xl">
        <div class="modal-content modal-lg modal-xl">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h5 class="modal-title" style="text-align: center;">CERTIFICADO DE RETENCIÓN EN LA FUENTE AÑO GRAVABLE {{yearGravable}}
                </h5>
            </div>
            <div class="modal-body">
                <div>
                    <object *ngIf="DataRetenciones == 1"></object>
                </div>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="col-xs-12 col-md-12 col-lg-12 text-right">
                        <button class="btn Gt-btn-verde " (click)="GenerarCertificadoSaldosPdf()" id="pdf">
                            <i class="icon-download4"></i>&nbsp; PDF
                        </button>&nbsp;
                        <button class="btn Gt-btn-verde " (click)="SendEmailCertificateRetenciones()">
                            <i class="icon-mail5"></i>&nbsp; ENVIAR AL CORREO
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- fin del modal que muestra certificado retenciones -->
