<div class="panel">
    <div class="panel-body">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <form method="get">
                    <div class="col-xs-12 col-md-3 col-lg-1 align-items-center">
                        <br>
                        <label class="textNegrilla">Operación:</label>
                        <span class="grande"> *</span>
                    </div>
                    <div class="col-xs-10 col-md-8 col-lg-4">
                        <select class="form-control" formControlName="Codigo" id="select">
                            <option value="">Buscar radicación</option>
                        </select>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-md-12 col-sm-12 col-lg-12">
            <br>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="col-lg-1">
                    <label for="" class="textNegrilla">Radicación</label>
                </div>

                <div class="col-lg-4">
                    <input type="text" class="form-control" disabled>
                </div>

                <div class="col-lg-2">
                </div>

                <div class="col-lg-1">
                    <label for="" class="textNegrilla">Buscar:</label>
                </div>

                <div class="col-lg-3">
                    <input type="text" class="form-control">
                </div>
                <button type="button" class="btn Gt-btn-verde btn-icon">
                    <i class="icon-search4"></i>
                </button>
            </div>
        </div>
    </div>
</div>