<div class="col-xs-12 col-md-12 col-lg-12" *ngIf="ListTagContabilidad.length <= 0">
    <br>
    <div class="alert alert-secondary" role="alert">
        No hay registros
    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12 panel panel-flat"
     *ngIf="ListTagContabilidad.length > 0">

  <div class="table-responsive scrollTabla">

    <table id="tablaIngresos" class="table table-hover">
      <colgroup>
        <col style="width: 150px;">
        <col style="width: 300px;">
        <col style="width: 180px;">
        <col style="width: 180px;">
        <col style="width: 120px;">
      </colgroup>

      <thead class="encabezadoTablasContabilidad">
        <tr>
          <th class="CuentaFija">Cuenta</th>
          <th>Nombre de la cuenta</th>
          <th>Saldo</th>
          <th>Oficina</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of ListTagContabilidad; let i = index"
           class="filconta{{i}}" (click)="CambiarColor(i, $event)">

          <td class="CuentaFija strcuentaConta{{i}}">
            {{item.Cuenta}}
          </td>

          <td [ngClass]="{
              'columnName': item.Nombre.length < 29,
              'columnNameX2': item.Nombre.length > 29 && item.Nombre.length < 35,
              'columnNameX3': item.Nombre.length >= 35 && item.Nombre.length <= 40,
              'columnNameX4': item.Nombre.length > 40
            }">
            {{item.Nombre}}
          </td>

          <td>
            {{item.Saldo}}
          </td>

          <td [ngClass]="{
              'oficina': item.Oficina.length <= 15,
              'oficinaX2': item.Oficina.length > 15
            }">
            {{item.Oficina}}
          </td>
          
          <td>
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12 panel panel-flat" *ngIf="ListTagContabilidad.length > 0">
    <div class="table-responsive scrollTabla">
        <table id="tablaIngresos" class="table table-hover">
           
        </table>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12" *ngIf="ListSubSalud.length > 0">
  <label><strong>Subsidios de salud año vigente</strong></label>
</div>

<div class="col-xs-12 col-md-12 col-lg-12 panel panel-flat"
     *ngIf="ListSubSalud.length > 0">

  <div class="table-responsive scrollTabla">

    <table class="table table-hover">

      <colgroup>
        <col style="width: 150px;">
        <col style="width: 300px;">
        <col style="width: 180px;">
        <col style="width: 180px;">
        <col style="width: 120px;">
      </colgroup>

      <thead class="SubsidiosSalud">
        <tr>
          <th class="CuentaFija">Cuenta</th>
          <th>Nombre de la cuenta</th>
          <th>Saldo</th>
          <th>Oficina</th>
          <th class="text-center">Cantidad</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of ListSubSalud; let i = index"
            class="filcontal{{i}}" (click)="CambiarColor(i, $event)">

          <td class="CuentaFija strcuentaConta{{i}}">
            {{item.Cuenta}}
          </td>

          <td [ngClass]="{
              'columnName': item.Nombre.length < 29,
              'columnNameX2': item.Nombre.length > 29 && item.Nombre.length < 35,
              'columnNameX3': item.Nombre.length >= 35 && item.Nombre.length <= 40,
              'columnNameX4': item.Nombre.length > 40
            }">
            {{item.Nombre}}
          </td>

          <td>
            {{item.Saldo}}
          </td>

          <td [ngClass]="{
              'oficina': item.Oficina.length <= 15,
              'oficinaX2': item.Oficina.length > 15
            }">
            {{item.Oficina}}
          </td>

          <td class="text-center">
            {{item.Cantidad}}
          </td>

        </tr>
      </tbody>

    </table>

  </div>
</div>
