.columnName {
    min-width: 180px;
}

.columnNameX2 {
    min-width: 270px;
}

.columnNameX3 {
    min-width: 345px;
}

.columnNameX4 {
    min-width: 420px;
}

.oficina {
    min-width: 160px;
}

.oficinaX2 {
    min-width: 260;
}

.CuentaFija {
    position: sticky !important;
    left: 0;
    background: #fff;
}

.encabezadoTablasContabilidad {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}

.table th {
    font-weight: bold;
}

.table tbody tr {
    height: 45px !important;
}

.table td {
    vertical-align: middle;
    padding: 1px 5px 0;
    white-space: nowrap;
}
.img-reglamento {
  width: 100%;
  height: auto;
  max-width: 100%;
}

#modalVerImagen .modal-dialog {
  max-width: 95vw;
  width: 95vw;
}

#modalVerImagen .modal-body {
  overflow-x: auto;
  text-align: center;
}

.total-tfoot {
    tr:first-child {
        background-color: rgb(178 178 178 / 40%);
    }
    td {
        border-top: 2px solid #000;
        font-weight: bold;
    }
}

tfoot tr {
    height: 40px; 
}

.img-reglamento {
    width: 98%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 4px;
}


.modal-reglamento .modal-content {
    width: fit-content;
}

.modal-reglamento {
    max-width: none !important;
    width: fit-content !important;
    margin: 1.75rem auto !important;
}

.modal-reglamento .modal-content {
    width: auto;
}

.modal-reglamento .modal-body {
    padding: 5px;
}












