<form>
    <form method="get" [formGroup]="gestionCreditoForm" autocomplete="off">
        <div class="panel panel-white">
            <div class="panel-heading">
                <h6 class="panel-title">Búsqueda</h6>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-toggle="modal" data-target="#ModalAyuda"><i class=" icon-question6" title="Ayuda" data-popup="tooltip" data-trigger="hover" data-placement="top"></i></a></li>
                        <li>
                            <a data-action="collapse"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!-- Inicio Operación -->
                        <form method="get" [formGroup]="gestionCreditoOperacionForm">
                            <div class="col-xs-12 col-md-3 col-lg-1 align-items-center">
                                <br>
                                <label class="textNegrilla">Operación:</label>
                                <span class="grande"> *</span>
                            </div>
                            <div class="col-xs-10 col-md-8 col-lg-4">
                                <select class="form-control" formControlName="Codigo" id="select" (change)="onChangeOperacion()">
                                    <option value="">test</option>
                                    <option *ngFor="let operacionDisponible of resultOperaciones"
                                        [value]="operacionDisponible.ERP_tblOperacion.IdOperacion">
                                        {{operacionDisponible.ERP_tblOperacion.Descripcion}}</option>
                                </select>
                                <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoOperacionForm.controls['Codigo'].errors?.['required'] && (gestionCreditoForm.controls['Codigo'].dirty || gestionCreditoOperacionForm.controls['Codigo'].touched)">
                                La operación es obligatoria.
                                </span> -->
                            </div>
                        </form>
                    </div>
                    <!-- Fin Operación -->
                </div>
                <div class="col-md-12  col-sm-12 col-lg-12" id="PanelDatos">

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Cuenta -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Cuenta:</label>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdOficinaCuenta" maxlength="3" (blur)="onBlurCampoNumeroCuenta()">
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['IdOficinaCuenta'].errors?.['pattern']">
                                    La cuenta solo acepta números.
                            </span> -->
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdProductoCuenta" maxlength="3" (blur)="onBlurCampoNumeroCuenta()">
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['IdProductoCuenta'].errors?.['pattern']">
                                    La cuenta solo acepta números.
                            </span> -->
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdConsecutivo" maxlength="7" (blur)="onBlurCampoNumeroCuenta()">
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['IdConsecutivo'].errors?.['pattern']">
                                    La cuenta solo acepta números.
                            </span> -->
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdDigito" maxlength="1" (blur)="onBlurCampoNumeroCuenta()">
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['IdDigito'].errors?.['pattern']">
                                    La cuenta solo acepta números.
                            </span> -->
                        </div>
                        <!-- Fin Cuenta -->

                        <div class="col-xs-1 col-md-1 col-lg-2">
                        </div>

                        <!-- Inicio Buscar -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Buscar:</label>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" tooltip="Documento" id="SelectBuscar" placement="top" show-delay="500" formControlName="BuscarDocumento" (input)="gestionCreditoForm.get('BuscarNombre')?.reset()" maxlength="20" />
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['BuscarDocumento'].errors?.['pattern']">
                                    El documento solo acepta números.
                            </span> -->
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-2">
                            <input type="text" class="form-control" tooltip="Nombre" placement="top" show-delay="500" formControlName="BuscarNombre" (input)="gestionCreditoForm.get('BuscarDocumento')?.reset()" />
                        </div>
                        <button type="button" class="btn Gt-btn-verde btn-icon" [disabled]="gestionCreditoForm.get('BuscarDocumento')?.disabled" (click)="onClickBuscarCuentaPorCliente()">
                            <i class="icon-search4"></i>
                        </button>
                        <!-- Fin Buscar -->
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio OficinaAsociado -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Oficina asociado:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="NumeroOficinaAsociado">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-3">
                            <input type="text" class="form-control" formControlName="NombreOficinaAsociado">
                        </div>
                        <!-- Fin OficinaAsociado -->


                        <div class="col-xs-1 col-md-1 col-lg-2">
                        </div>

                        <!-- Inicio Radicado -->
                        <div class="col-xs-12 col-md-1 col-lg-1">
                            <label class="textNegrilla">Radicado:</label>
                            <!-- <span class="grande"> *</span> -->
                        </div>
                        <div class="col-xs-6 col-md-2 col-lg-1">
                            <input type="text" class="form-control" tooltip="Nombre" placement="top" show-delay="500" formControlName="Radicado" (keypress)="LimpiarCampos('Radicado')" />
                        </div>
                        <!-- Fin Radicado -->

                        <!-- Inicio Pagare -->
                        <div class="col-xs-12 col-md-1 col-lg-1">
                            <label class="textNegrilla">Pagaré:</label>
                            <!-- <span class="grande"> *</span> -->
                        </div>
                        <div class="col-xs-6 col-md-2 col-lg-1">
                            <input type="text" class="form-control" tooltip="Nombre" placement="top" show-delay="500" formControlName="pagare" (keypress)="LimpiarCampos('pagare')" />
                        </div>
                        <button type="button" class="btn Gt-btn-verde btn-icon" [disabled]="gestionCreditoForm.get('pagare')?.disabled" (click)="onClickBuscarPorPagare()">
                            <i class="icon-search4"></i>
                        </button>
                        <!-- Fin Pagare -->
                    </div>


                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <!-- Inicio Asociado -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Asociado:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-2">
                            <input type="text" class="form-control" id="SelectDocumento" formControlName="NumeroDocumento" (keypress)="LimpiarCampos('NumeroDocumento')" (blur)="BuscarAsociado()" maxlength="15">
                            <!-- <span class="help-block validationSpan" *ngIf="gestionCreditoForm.controls['NumeroDocumento'].errors?.['pattern']">
                                El documento solo acepta números.
                            </span> -->
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-3">
                            <input type="text" class="form-control pmayuscula" formControlName="Nombre" (keypress)="LimpiarCampos('Nombre')">
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarAsociado()" [disabled]="gestionCreditoForm.get('NumeroDocumento')?.disabled">
                            <i class="icon-search4"></i></button>
                        </div>
                        <!-- Fin Asociado -->

                        <!-- Inicio Relacion -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Relación:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-10 col-md-8 col-lg-3">
                            <select class="form-control" name="select" formControlName="IdRelacionCliente">
                                <option *ngFor="let relacion of tiposRelacion" [value]="relacion.Clase">
                                    {{relacion.Descripcion}}</option>
                            </select>
                        </div>
                        <!-- Fin Relacion -->
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Producto -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Producto:</label>
                            <span class="grande">*</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" id="SelectProducto" formControlName="IdProducto" (keypress)="LimpiarCampos('IdProducto')" (change)="Producto()" maxlength="3">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-4">
                            <input type="text" class="form-control" formControlName="DescripcionProducto" (keypress)="LimpiarCampos('DescripcionProducto')">
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarProducto()" [disabled]="gestionCreditoForm.get('IdProducto')?.disabled">
                            <i class="icon-search4"></i></button>
                        </div>
                        <!-- Fin Producto -->

                        <!-- Inicio Oficina -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Oficina:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="NumeroOficina">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-2">
                            <input type="text" class="form-control" formControlName="NombreOficina">
                        </div>
                        <!-- Fin Oficina -->
                       
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Linea -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Linea:</label>
                            <span class="grande">*</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" id="SelectProducto" formControlName="IdLinea" (keypress)="LimpiarCampos('IdLinea')" (change)="Producto()" maxlength="3">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-4">
                            <input type="text" class="form-control" formControlName="Linea" (keypress)="LimpiarCampos('DescripcionProducto')">
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarProducto()" [disabled]="gestionCreditoForm.get('IdLinea')?.disabled">
                            <i class="icon-search4"></i></button>
                        </div>
                        <!-- Fin Linea -->

                         <!-- Inicio OperacionPermitida -->
                         <div class="col-xs-12 col-md-3 col-lg-2">
                            <label class="textNegrilla">Operación permitida:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-10 col-md-8 col-lg-2">
                            <select class="form-control" id="SelectOperacionPermitida" formControlName="IdOperacionPermitida">
                                <!-- <option selected="selected" value="" disabled>-- Seleccione --</option> -->
                                <option *ngFor="let operacionPermitida of resultOperacionesPermitadas" [value]="operacionPermitida.IdOperacion">{{operacionPermitida.DescripcionOperacion}}</option>
                            </select>
                            <!-- <input type="text" class="form-control" formControlName="DescripcionOperacion" *ngIf="!inputOperacionPermitada"> -->
                            <!-- <input type="text" class="form-control" formControlName="DescripcionOperacion"> -->
                        </div>
                        <div class="col-xs-2 col-md-1 col-lg-1">
                        </div>
                        <!-- Fin OperacionPermitida -->
                       
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Asesor -->
                        <div class="col-xs-12 col-md-3 col-lg-1">
                            <label class="textNegrilla">Asesor:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-4 col-md-3 col-lg-1">
                            <input type="text" class="form-control" formControlName="IdAsesor" (keypress)="LimpiarCampos('IdAsesor')">
                        </div>
                        <div class="col-xs-6 col-md-5 col-lg-4">
                            <input type="text" class="form-control" formControlName="NombreAsesor" (keypress)="LimpiarCampos('NombreAsesor')">
                        </div>
                        <div class="col-xs-1 col-md-1 col-lg-1">
                            <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" [disabled]="gestionCreditoForm.get('IdAsesor')?.disabled">
                            <i class="icon-search4"></i></button>
                        </div>
                        <!-- Fin Asesor -->

                        <!-- Inicio EstadoCuenta -->
                        <div class="col-xs-12 col-md-3 col-lg-2">
                            <label class="textNegrilla">Estado cuenta:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-10 col-md-8 col-lg-2">
                            <select class="form-control" id="SelectEstadoCuenta" formControlName="IdEstado">
                                <!-- <option selected="selected" value="0">-- Seleccione --</option> -->
                                <option *ngFor="let estado of resultEstadosCuenta" [value]="estado.IdEstado">
                                    {{ estado.Descripcion }}
                                </option>
                                </select>
                            <!-- <input type="text" class="form-control" formControlName="DescripcionEstado" *ngIf="booltemp" /> -->
                        </div>
                        <!-- Fin EstadoCuenta -->
                    </div>

                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <!-- Inicio Asesor Externo -->
                        <form method="get" [formGroup]="AsesorExternoForm">
                            <div class="col-xs-12 col-md-3 col-lg-1">
                                <label class="textNegrilla">Asesor externo:</label>
                            </div>
                            <div class="col-xs-4 col-md-3 col-lg-1">
                                <input type="text" class="form-control" tooltip="Id asesor" id="SelectAsesorExterno" placement="top" show-delay="500" formControlName="IdAsesorExterno" (blur)="BuscarAsesorExternoCodigo()" (keypress)="LimpiarCampos('IdAsesorExterno')"
                                    maxlength="4" />
                                <!-- <span class="help-block validationSpan" *ngIf="AsesorExternoForm.controls['IdAsesorExterno'].errors?.['pattern']">
                                    El Id asesor solo acepta números.
                                </span> -->
                            </div>
                            <div class="col-xs-6 col-md-5 col-lg-4">
                                <input type="text" class="form-control" tooltip="Nombre asesor" placement="top" show-delay="500" formControlName="NombreAsesorExterno" (keypress)="LimpiarCampos('NombreAsesorExterno')" />
                            </div>
                            <div class="col-xs-1 col-md-1 col-lg-1">
                                <button type="button" class="btn Gt-btn-verde btn-icon legitRipple" (click)="BuscarAsesorExternoTodos()" [disabled]="AsesorExternoForm.get('IdAsesorExterno')?.disabled">
                                <i class="icon-search4"></i></button>
                            </div>
                        </form>
                        <!-- Fin Asesor Externo -->

                        <!-- Inicio FormaPago -->
                        <div class="col-xs-12 col-md-3 col-lg-2">
                            <label class="textNegrilla">Forma pago:</label>
                            <span class="grande"> *</span>
                        </div>
                        <div class="col-xs-10 col-md-8 col-lg-2">
                            <select class="form-control" id="SelectFormaPago" formControlName="IdFormaPago">
                                <option *ngFor="let formapago of resultFormasPago" [value]="formapago.IdFormaPago">{{ formapago.DescripcionFormaPago }}</option>
                            </select>
                        </div>
                        <!-- Fin FormaPago -->
                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <br />
                        <br />

                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <input type="checkbox" id="estadoReestructurado" class="switchery" formControlName="ActivaMovimiento" />
                            <label for="estadoReestructurado">Reestructurado</label>
                            <input type="checkbox" id="estadoReliquidado" class="switchery" formControlName="ActivaMovimiento" />
                            <label for="estadoReliquidado">Reliquidado</label>
                            <input type="checkbox" id="estadoPagoAbogado" class="switchery" formControlName="ActivaMovimiento" />
                            <label for="estadoPagoAbogado">Pago Abogado</label>
                            <input type="checkbox" id="estadoCastigado" class="switchery" formControlName="ActivaMovimiento" />
                            <label for="estadoCastigado">Castigado</label>
                            <input type="checkbox" id="estadoSinCobertura" class="switchery" formControlName="ActivaMovimiento" />
                            <label for="estadoSinCobertura">Sin Cobertura</label>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <br />
                        </div>


                    </div>
                    <div class="col-xs-12 col-md-12 col-lg-12 text-right">

                        <button type="button" style="visibility:hidden" #ModalBuscarAsociados class="btn Gt-btn-verde btn-icon legitRipple" data-toggle="modal" data-target="#ModalBuscarAsociados"><i class="icon-search4"></i></button> 
                        <!-- anexo del boton buscarsin visibilidad -->
                        <!--  
                       
                        <input type="button" class="btn Gt-btn-morado" value="Limpiar" (click)="clearFromDisponibles()" />&nbsp; &nbsp;

                        <input type="button" *ngIf="!btnGuardar" class="btn Gt-btn-verde" value="Guardar" (click)="GuardarDisponible()"|| isSaving" />

                        <input id="btnActualizarId" type="button" *ngIf="!btnActualizar" class="btn Gt-btn-verde" value="Actualizar" (click)="ActualizarDisponible()" />

                        <input type="button" *ngIf="btnCambiarEstado" class="btn Gt-btn-verde" value="Cambiar Estado" (click)="EstadoSeleccionado()" /> &nbsp; &nbsp;

                        <input type="button" *ngIf="btnActualizar && !btnCambiarEstado && btnGuardar" class="btn Gt-btn-verde" value="Registro firma" (click)="showPdf()" /> -->
                    </div>


                </div>
                <!-- <input type="hidden" #ModalAsesores data-toggle="modal" data-target="#ModalAsesores" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalAsociados data-toggle="modal" data-target="#ModalAsociados" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalBuscarAsociados data-toggle="modal" data-target="#MondalBuscarAsociados" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalAsesoresExterno data-toggle="modal" data-target="#ModalAsesoresExterno" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalTitulares data-toggle="modal" data-target="#ModalTitulares" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalDisponible data-toggle="modal" data-target="#ModalDisponible" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalCambioEstado data-toggle="modal" data-target="#ModalCambioEstado" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalImagenRegistroFirmas data-toggle="modal" data-target="#ModalImagenesRegistroFirmas" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalImpresionRegistroFirmas data-toggle="modal" data-target="#ModalImpresionRegistroFirmas" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalCertificadoCuentaPregunta data-toggle="modal" data-target="#ModalCertificadoCuentaPregunta" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalCertificadoCuentaPDF data-toggle="modal" data-target="#ModalCertificadoCuentaPDF" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalImpresion data-toggle="modal" data-target="#ModalImpresion" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalGarantiasReales data-toggle="modal" data-target="#ModalGarantiasReales" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalLibretas data-toggle="modal" data-target="#ModalLibretas" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalCancelarCupo data-toggle="modal" data-target="#ModalCancelarCupo" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalReglamentoVivienda data-toggle="modal" data-target="#ModalReglamentoVivienda" data-popup="tooltip" data-trigger="hover" data-placement="top">
                <input type="hidden" #ModalReglamentoTarjeta data-toggle="modal" data-target="#ModalReglamentoTarjeta" data-popup="tooltip" data-trigger="hover" data-placement="top"> -->
            </div>
        </div>
<!-- Modal Ayuda -->
<div id="ModalAyuda" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title"><i class="icon-question6"></i> Ayuda</h6>
            </div>
            <div class="modal-body">
                <ul>
                    <li>Todos los campos marcados con <span class="text-danger">*</span> son obligatorios.</li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal Ayuda -->
<!--/ Modal BuscarAsociados -->
<div id="ModalBuscarAsociados" class="modal fade" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header bg-morado">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Asociados</h6>
            </div>
            <div class="modal-body">
                <div class="table-responsive scrollTabla">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="column_CuentaA"><strong>Cuenta</strong></th>
                                <th class="column_NombreA"><strong>Nombre Asociado</strong></th>
                                <th class="column_NombreA"><strong>Pagaré</strong></th>
                                <th class="column_EstadoCuentaA"><strong>Estado</strong></th>
                                <th class="column_NombreA"><strong>Fecha</strong></th>
                                <th class="column_NombreA"><strong>Linea</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-dismiss="modal"  *ngFor="let cuentaResumen of cuentasResumenData" (click)="onClickCuentaInfo(cuentaResumen)">
                                <td class="column_CuentaA columnCuentaA_disponibles">
                                    {{ cuentaResumen.CodigoCuentaFormateado }}
                                </td>
                                <td class="column_NombreA columnNombreA_disponibles">
                                    {{ cuentaResumen.PrimerApellido | concatWithSpace:cuentaResumen.SegundoApellido:cuentaResumen.PrimerNombre:cuentaResumen.SegundoNombre }}
                                </td>
                                <td class="column_EstadoCuentaA columnEstadoCuentaA_disponibles">
                                    {{cuentaResumen.Pagare }}
                                </td>
                                <td class="column_MedioPagoA columnMedioPagoA_disponibles">
                                    {{ cuentaResumen.Estado }}
                                </td>
                                <td class="column_MedioPagoA columnMedioPagoA_disponibles">
                                    {{ cuentaResumen.FechaMatricula | date:'yyyy/MM/dd' }}
                                </td>
                                <td class="column_MedioPagoA columnMedioPagoA_disponibles">
                                    {{ cuentaResumen.IdLinea }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn Gt-btn-morado" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--/ Fin Modal BuscarAsociados -->


<!-- TABS -->
<div class="col-md-12 col-lg-12 col-sm-12 panel panel-default" id="PanelTab">
    <div class="panel-body">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="tabbable">
                <ul class="nav nav-tabs">

                    <li id="Datos" (click)="devolverTab(1)" [ngClass]="{'activar': activaDatos === true }"                       >
                        <a href="#tab1" data-toggle="tab">Datos</a>
                    </li>    
                </ul>
                <div class="tab-content">
                    <!-- Inicio tab1 -->
                    <div class="tab-pane" id="tab1">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Sistema:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="Sistema" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Periodo capital:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="PeriodoCapital" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Periodo interés:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="PeriodoInteres" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Plazo:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" style="text-align: left;" [attr.disabled]="true"
                                            formControlName="Plazo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Garantia:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="Garantia" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Tipo garantia:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" formControlName="TipoGarantia" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Monto:</label>
                                        <span class="text-danger"></span>
                                        <!-- <input type="text" currencyMask value=" {{carteraInfo.Monto | currency}}" class="form-control"
                                            style="text-align: right;" [attr.disabled]="true" /> -->
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Cuota:</label>
                                        <span class="text-danger"></span>
                                        <!-- <input type="text" currencyMask value=" {{carteraInfo.Cuota |  currency}}" class="form-control"
                                            style="text-align: right;" [attr.disabled]="true" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Modalidad:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" [attr.disabled]="true" value="Vencida" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Periodo de gracia:</label>
                                        <span class="text-danger"></span>
                                        <input type="text" class="form-control" style="text-align: left;" [attr.disabled]="true"
                                            formControlName="PeriodoGracia" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-1 col-lg-1">
                                </div>
                                   <div class="col-xs-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <label>Cuota libranza:</label>
                                        <span class="text-danger"></span>
                                        <!-- <input type="text" currencyMask value=" {{carteraInfo.CuotaLibranza |  currency}}" class="form-control"
                                            style="text-align: right;" [attr.disabled]="true" /> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="col-xs-12 col-md-12 col-lg-12">
                                    <div class="row" id="borde">
                                        <div>
                                            <div *ngIf="!ValidaPactado">
                                                <div>
                                                    <label>&nbsp;&nbsp;&nbsp;<strong>Tasas</strong></label>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <label><strong>Tasa periódica:</strong></label>
                                                        <span class="text-danger"></span>
                                                        <input type="text" currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 } " class="form-control" style="text-align: right;" [attr.disabled]="true" formControlName="TasaPeriodicaL" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <label><strong>Tasas nominal:</strong></label>
                                                        <span class="text-danger"></span>
                                                        <input type="text" currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 }" class="form-control" style="text-align: right;" [attr.disabled]="true" formControlName="TasaLiquidada" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <label><strong>Tasa efectiva:</strong></label>
                                                        <span class="text-danger "></span>
                                                        <input type="text " currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 }" class="form-control" style="text-align: right;" [attr.disabled]="true" formControlName="EfectivaLiquidada" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                            </div>
                                            <div *ngIf="ValidaPactado">
                                                <div>
                                                    <label>&nbsp;&nbsp;<strong>Tasas pactadas</strong></label>
                                                    <span class="text-danger"></span>
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group ">
                                                        <label><strong>Tasa periódica:</strong></label>
                                                        <span class="text-danger "></span>
                                                        <input type="text " currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 } " class="form-control " style="text-align: right;" [attr.disabled]="true" formControlName="TasaPeriodicaP" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <label><strong>Tasas nominal:</strong></label>
                                                        <span class="text-danger"></span>
                                                        <input type="text" currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 } " class="form-control " style="text-align: right; " [attr.disabled]="true" formControlName="TasaPactada" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                                <div class="col-xs-12 col-md-2 col-lg-2">
                                                    <div class="form-group">
                                                        <label><strong>Tasa efectiva:</strong></label>
                                                        <span class="text-danger "></span>
                                                        <input type="text " currencyMask [options]="{ prefix: '', suffix: ' %', thousands: '.', precision: 4 } " class="form-control " style="text-align: right; " [attr.disabled]="true" formControlName="EfectivaPactada" />
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-md-1 col-lg-1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-2 col-lg-2" style="text-align: right;">
                                            <br>
                                            <button type="button" id="marginbuton" class="btn Gt-btn-morado doNotPrint " (click)="Cambiavistatasas()">Pactado</button>
                                        </div>
                                    </div>
                                </div>
                    </div>
                    <!-- Fin tab1 -->                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-3 col-md-12 col-lg-3 text-right">
    <input type="button" style="visibility:hidden" data-toggle="tab" href="#tab1" #tab1 />
</div>




    </form>
</form>