.modal.right .modal-dialog {
    position: absolute;
    bottom: 10px;
    right: 10px;
    margin: 0;
    width: 400px;
}

.grande {
    font-size: 25px !important;
    color: #D84315;
    margin-top: -5px !important;
    margin-left: 6px;
    position: absolute;
}
.textNegrilla {
    color: #565656;
    font-weight: bold;
}
.pmayuscula {
    text-transform: capitalize;
}
.container {
    width: 100%;
    margin: 10px auto;
}
.ac-label-sg {
    font-weight: 700;
    position: relative;
    padding: .5em 1em;
    margin-bottom: .5em;
    display: block;
    cursor: pointer;
    background-color: #d8d8d8;
    transition: background-color .15s ease-in-out;
}
.ac-input-sg:checked+label,
.ac-label-sg:hover {
    background: rgb(185 111 151);
    color: rgb(63, 63, 63);
}
.ac-label-sg:after,
.ac-input-sg:checked+.ac-label-sg:after {
    content: "+";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 2em;
    height: 100%;
    line-height: 2.25em;
    text-align: center;
    background-color: #e5e5e5;
    transition: background-color .15s ease-in-out;
}
.ac-label-sg:hover:after,
.ac-input-sg:checked+.ac-label-sg:after {
    background-color: #b5b5b5;
}
.ac-input-sg:checked+.ac-label-sg:after {
    content: "-";
}
.ac-input-sg {
    display: none;
}
.ac-text-sg {
    opacity: 0;
    height: 0;
    margin-bottom: .5em;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}
.ac-input-sg:checked~.ac-text-sg,
.ac-sub-sg .ac-input-sg:checked~.ac-sub-text-sg {
    opacity: 1;
    height: auto;
}
.ac-sub-sg .ac-label-sg {
    background: none;
    font-weight: 600;
    padding: .5em 2em;
    margin-bottom: 0;
}
.ac-sub-sg .ac-label-sg:checked {
    background: none;
    border-bottom: 1px solid whitesmoke;
}
.ac-sub-sg .ac-label-sg:after,
.ac-sub-sg .ac-input-sg:checked+.ac-label-sg:after {
    left: 0;
    background: none;
}
.ac-sub-sg .ac-input-sg:checked+label,
.ac-sub-sg .ac-label-sg:hover {
    background: none;
}
.scrollTablaHistorial {
    max-height: 500px;
    overflow-y: scroll;
}
.encabezadoTablas {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #ffffff;
}
.table th {
    font-weight: bold;
}
.table tbody tr,
.table tfoot tr {
    height: 45px !important;
}
.table td {
    vertical-align: middle;
    padding: 1px 5px 0;
    white-space: nowrap;
}
.operacionFija {
    position: sticky !important;
    right: 0;
    background: #fff;
    z-index: 1;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    min-width: 30px;
}
.pagare {
    display: flex;
    column-gap: 12px;
    > div {
        padding: 0;
    }
}
.tab-title {
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 8px;
    background-color: rgb(198 198 198 / 40%);
    margin-top: 0;
}
.fw-bold {
    font-weight: bold;
}
.capitalize{
    text-transform: capitalize;
}
.garantias-section {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.horizontal-scroll {
    overflow-x: auto;
}
.table-header {
    white-space: nowrap;
    text-align: center;
}
.table-header-medium {
    min-width: 150px;
}
.align-right {
    text-align: right;
}
.align-right-large {
    text-align: right;
    padding-right: 20%;
}
.celda-fija-izquierda {
    position: sticky;
    left: 0;
    background-color: #fff;
    z-index: 1;
}
.celda-fija-arriba {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}
.encabezado-fijo {
    thead th {
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
    }
}
th.celda-fija-izquierda {
    z-index: 3;
}
.tr-selected {
    background-color: rgb(229, 229, 229);
    .celda-fija {
        background-color: rgb(229, 229, 229);
    }
    .celda-fija-izquierda {
        position: sticky;
        left: 0;
        background-color: rgb(229, 229, 229);
        z-index: 1;
    }
}

.tr-selected:hover {
    background-color: rgb(229, 229, 229);
}
.historial-container {
    display: flex;
    gap: 20px;
}
.fechas {
    display: flex;
    column-gap: 8px;
    min-width: 300px;
    width: 30%;
    max-width: 400px;
}
.historial-table-wrapper {
    width: 65%;
    flex: 1;

}
@media (max-width: 1250px) {
    .historial-container {
        flex-wrap: wrap;
    }
}
@media (min-width: 1500px) {
    .historial-table-wrapper {
        max-width: initial;
    }
    .fechas {
        column-gap: 30px;

    }
}
@media (min-width: 1920px) {
    .align-right {
        padding-right: 20%;
    }
    .align-right-large {
        padding-right: 40%;
    }
}
.total-tfoot {
    tr:first-child {
        background-color: rgb(178 178 178 / 40%);
    }
    td {
        border-top: 2px solid #000;
        font-weight: bold;
    }
}
#borde {
    border: 3px rgb(227, 227, 227);
    border-style: dashed;
    border-radius: 22px;
    padding: 9px;
    width: 101%;
}
.border {
    border: 2px rgb(227, 227, 227);
    border-style: dashed;
    border-radius: 10px;
}
.borderCuotas {
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    box-sizing: border-box;
    text-align: left;
}
.linea {
    font-size: 14px;
    color: #333;
    padding-bottom: 8px;
    border-bottom: 1px dashed #ddd;
    width: auto;
    max-width: 100%;
}
.box-form {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    transition: all 0.3s ease;
}
.box-form:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-color: #b39ddb;
}
.custom-badge {
    cursor: pointer;
    background-color: rgb(133, 38, 98);
    color: #fff;

    --bs-border-radius-pill: 50rem;
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 1em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    border-radius: var(--bs-border-radius-pill);
    transition: background-color .3s;
}
.custom-badge:hover {
    background-color: rgb(160, 71, 127);

}
.form-group label {
    font-weight: bold;
}

@media (max-width: 1550px) {

    .numero-doc {
        width: var(--col-wider-1-4);
    }

    .nombre-asociado {
        width: var(--col-smaller-3-4);
    }
}

@media (min-width: 1600px) {
    .label-pagare,
    .label-relacion {
        width: var(--col-smaller-1-2);
    }

    .input-pagare,
    .input-relacion {
        width: var(--col-wider-1-2);
    }
}

.panel-datos {
    padding-right: 0;
}

.input-pagare,
.input-relacion {
    padding-left: 0;
}

.input-buscar-doc,
.input-tipo-pagare,
.input-radicado:has(>input),
.input-oficina
{
    padding: 0;
}

.pdf-modal {
    width: 100%;
    height: 1000px;
}

.text-center {
    text-align: center;
}

.cancelar {
    background-color: #6d6b6bc4;
    color: white !important;
}

.tabla-last-column-fixed th:last-child,
.tabla-last-column-fixed td:last-child {
    position: sticky;
    right: 0;
    background: white;
    z-index: 2;
}

.tabla-last-column-fixed tr[style*="background"] td:last-child {
    background: inherit;
}

.scrollTabla {
    max-height: 400px;      
    overflow: auto;        
}

.horizontal-scroll {
    width: 100%;
    border-collapse: collapse;
}

.horizontal-scroll thead th {
    position: sticky;
    top: 0;
    background-color: #ffffff; 
    z-index: 10;
}

.horizontal-scroll tfoot td {
    position: sticky;
    bottom: 0;
    background-color: #f8f9fa;  
    z-index: 9;
    font-weight: bold;
}

