<form>
    <div class="panel panel-white">
        <!-- Panel operaciones juridico-->
        <div class="panel-heading doNotPrint">
            <h3 class="panel-title">
                <iframe
                    src="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/UserInf.html?cidReq=REPOSITORIODEVIDEOS&id_session=0&gidReq=0&gradebook=0&origin="
                    style="border:none;" title="Iframe"></iframe>
            </h3>
            <div>
                <div class="embed-responsive embed-responsive-16by9">                    
                    <iframe _ngcontent-bok-c11="" _ngcontent-xbs-c4="" allowfullscreen="" class="embed-responsive-item"
                        src="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/REPORTEINDGERENCIALES.HTML"></iframe>
                </div>
            </div>
        </div>
    </div>
</form>