<div class="panel panel-white">
    <div class="panel-heading doNotPrint">
        <h6 class="panel-title">Informes</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-toggle="modal" data-target="#ModalAyuda">
                        <i class="icon-question6 " title="Ayuda" data-popup="tooltip" data-trigger="hover"
                            data-placement="top"></i>
                    </a>
                </li>
                <li>
                    <a data-action="collapse"></a>

                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body doNotPrint">

        <div class="row mb-3">
            <div class="col-md-2">
                <label for="idConfiguracion" class="form-label">ID</label>
                <input type="text" id="idConfiguracion" class="form-control" disabled>
            </div>
            <div class="col-md-5">
                <label for="nombreInforme" class="form-label">Nombre Informe</label>
                <input type="text" id="nombreInforme" class="form-control" name="nombreInforme">
            </div>
            <div class="col-md-5">
                <label for="nombreSP" class="form-label">Nombre SP</label>
                <input type="text" id="nombreSP" class="form-control" name="nombreSP">
            </div>

            <div class="col-md-2 mt-3 div-espacio">
            </div>
            <div class="col-md-5 mt-3 div-espacio">
                <label for="accion" class="form-label">Acción</label>
                <input type="text" id="accion" class="form-control" name="accion">
            </div>
            <div class="col-md-5 mt-3 div-espacio">
                <label for="idModulo" class="form-label">Módulo</label>
                <select id="idModulo" class="form-control" name="idModulo">
                    <option *ngFor="let modulo of modulos" [value]="modulo.id">{{ modulo.nombre }}</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-md-12 col-lg-12" style="justify-items: end; padding: 1em;">
            <div class="actions clearfix">
                <button class="btn Gt-btn-morado btn-icon legitRipple" type="button">
                    LIMPIAR
                </button>&nbsp;

                <button class="btn Gt-btn-verde btn-icon legitRipple" type="submit"
                    
                    >
                    <i class=""></i>&nbsp; GUARDAR
                </button>&nbsp;

                <button class="btn Gt-btn-verde btn-icon legitRipple" type="submit"
                    
                    >
                    <i class=""></i>&nbsp; ACTUALIZAR
                </button>

            </div>
        </div>

    </div>
</div>

<div class="col-md-12 col-lg-12 col-sm-12 panel panel-default" id="PanelDatos">
    <div class="panel-body ">

        <div class="table-responsive scrollTabla">
            <table id="TablaParametros" class="table table-sm sticky-last-column ">
                <thead class="text-center">
                    <tr>
                        <th>ID</th>
                        <th>Nombre Informe</th>
                        <th>Nombre SP</th>
                        <th>Acción</th>
                        <th>Módulo</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of configuracionInformes">
                        <td>{{ item.IdConfiguracion }}</td>
                        <td>{{ item.NombreInforme }}</td>
                        <td>{{ item.NombreSP }}</td>
                        <td>{{ item.AccionEjecuta }}</td>
                        <td>{{ item.IdModulo }}</td>
                        <td class="operacionFija">
                            <button class="btn Gt-btn-verde btn-icon legitRipple" (click)="selectRow(item)">
                                <i class="icon-pencil"></i></button> &nbsp;
                            <button class="btn Gt-btn-morado btn-icon legitRipple">
                                <i class="glyphicon glyphicon-cog"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>