<div class="row">
    <div class="col-sm-4 col-lg-2">
        <a href="https://consultas.coogranada.com.co/Account/Login?ReturnUrl=%2F" title="Sucursal Virtual" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-sucursalVirtual.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://workmanager.coogranada.com.co/" title="WorkManager E.D" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-workmanager.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://glpi.coogranada.com.co" title="GLPI" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-glpi.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://outlook.office.com/mail/" title="Correo" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-outlook.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href=" https://web.yammer.com/main/org/coogranada.com.co" title="Yammer" target="_blank" data-popup="tooltip"
            data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-yammer.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://formacionvirtual.coogranada.com.co/" title="Formación Virtual" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-formacionVirtual.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://sgc.coogranada.com.co/" title="CRM" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-crm.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://vigia.coogranada.com.co/ldap/myc.aspx" title="Vigia" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-vigia.jpg" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://dgrv.redcoopcentral.com:8085/SPE30_ASOCOOPH" title="Planeación Estratégica" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-planeacionEstrategica.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://coogranada1.adminfo.net/smartplus/" title="Adminfo" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-adminfo.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://dgrv.redcoopcentral.com:8082/COOGRANADA_3.0" title="MicroScore" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/logo-MicroScore.png" alt="">
                </div>

            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://turnos.coogranada.com.co/account/login" title="Turnero" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/Logo_turnero.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://webmarketing.coogranada.com.co/Account/Login" title="Mail marketing" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/Mailmarketing.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://midasoft.coogranada.com.co/NGMidasoft/login/02" title="Nomina" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/midasoft.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/G.Procesos.HTML" title="Gestión de procesos" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/GestionDeProcesos.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://formacionvirtual.coogranada.com.co/courses/REPOSITORIODEVIDEOS/document/Informacion.HTML" title="Información al instante" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/Alinstante.jpg" alt="">
                </div>
            </div>
        </a>
    </div>

    <div class="col-sm-4 col-lg-2">
        <a href="https://losolivosmedellin.co/KaringPrevision/Login/LoginDo" title="Los olivos" target="_blank" data-popup="tooltip" data-trigger="hover" data-placement="bottom">
            <div class="thumbnail">
                <div class="thumb">
                    <img class="imagenesAppColaborativas" src="../../../assets/images/GT/LosOlivos.png" alt="">
                </div>
            </div>
        </a>
    </div>
   





</div>