<div class="panel panel-white">
    <div class="panel-heading doNotPrint">
        <h6 class="panel-title">Tipo{{OperacionSelect}}</h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li>
                    <a data-toggle="modal" data-target="#ModalAyuda">
                        <i class="icon-question6 " title="Ayuda" data-popup="tooltip" data-trigger="hover" data-placement="top"></i>
                    </a>
                </li>
                <li>
                    <a data-action="collapse"></a>

                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body doNotPrint">
        <form method="get">
            <div class="col-xs-12 col-md-12 col-lg-12" id="Operacion">
                <div class="row">
                    <div class="col-xs-12 col-md-3 col-lg-3">
                        <div class="form-group">
                            <label class="textNegrilla">Operación:</label>
                            <span class="grande"> *</span>
                            <select class="form-control" id="select"  name="select"  [(ngModel)]="valueSlect" (change)="opcionSelected1(valueSlect)" (blur)="operacionBlur()" (change)="onChange($event)">
                          <option value="0" [selected]="OpcionSelected" >
                            --Seleccione--
                          </option>
                          <option *ngFor="let item of Operaciones"  [value]="item.ERP_tblOperacion.IdOperacion">
                            {{item.ERP_tblOperacion.Descripcion}}
                          </option>
                        </select>
                            <span class="help-block validationSpan" *ngIf="!validaOperacion ">
                          La operación es obligatoria.
                      </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div  *ngIf="valueSlect == '89'">
    <div >
        <app-informe-juridicos ></app-informe-juridicos>
    </div>
</div>
<div  *ngIf="valueSlect == '88'">
    <div >
        <app-informe-personas-naturales></app-informe-personas-naturales>
    </div>
</div>
